<include file="Index:header" />
<!--头部 end -->
<div class="page-desc js-ignore-pagemark">
    <!-- start:Page-desc-inner -->
    <div class="page-desc-inner">
        <div class="container">
            <h3>找回密码</h3>
        </div>
    </div>
    <!-- end:Page-desc-inner -->
</div>
<!--主体 -->
<div class="container">
    <!--Row start -->
    <div class="row">
        <!--Wall start -->
        <div class="span4 offset4 control-panle">
            <div class="control-panle-header">
    <h4>找回密码</h4>
    <span><a href="__ROOT__/Logo/login.html">登陆</a> <a href="__ROOT__/Logo/register.html">免费注册</a></span>
</div>
<hr>
 <form id="form-horizontal" name="myform" method="post" action='__URL__/rPassword'>
    <div class="row-fluid">
        
        <div class="control-group">
            <label class="control-label">用户名</label>
            <div class="controls">
                <input type="text" class="span12" maxlength="16" name="user" datatype="me" nullmsg="请输入用户名！" errormsg="用户名允许2-16个字,可包含中英文、数字、点和下划线！" ajaxurl="__URL__/ajaxverify" placeholder="用户名">
            </div>
            <span class="help-block"></span>
        </div>
        <div class="control-group">
            <label class="control-label">验证码</label>
            <div class="controls">
            	<input id="CaptchaInputText" type="text" class="span12" name="proving" placeholder="验证码" maxlength="4"><img class="CaptchaImage" id="verifyImg" src='__APP__/Public/verify/' onClick="changeVerify()" title="点击刷新验证码" data-rel="tooltip" style="cursor:pointer;padding-top: 5px;"/>
            </div>

            <span class="help-block"></span>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary span12" style="margin-left: 0" tabindex="4">提交</button>
    </div>
</form>

        </div>
        <!--Wall end-->
    </div>
    <!--Row end-->
</div>


<!-- 主体 end-->
<!--底部 -->
 <script language="JavaScript">
	function changeVerify(){
		var timenow = new Date().getTime();
		document.getElementById('verifyImg').src='__APP__/Public/verify/'+timenow;
	}
</script>
<script src="__PUBLIC__/jquery/Validform_v5.3.2min.js"></script>
<script language="JavaScript">
 $(function(){
	//$(".form-horizontal").Validform();  //就这一行代码！;

	$("#form-horizontal").Validform({
		datatype:{
			"me" : /^[\u4E00-\u9FA5\uf900-\ufa2d\w]{2,16}$/,
		}
	});
})
</script>
<include file="Index:footer" />
<!--底部 end-->
