<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop jump_top">

<form method="post"  action='__URL__/ordinaryAdd'  class="form-horizontal" >

        <switch name="Think.get.mid">
            <case value="second"><input name="type" type="hidden" value="0" /></case>
            <case value="mortgage"><input name="type" type="hidden" value="1" /></case>
            <case value="pledge"><input name="type" type="hidden" value="2" /></case>
            <case value="worth"><input name="type" type="hidden" value="3" /></case>
            <case value="credit"><input name="type" type="hidden" value="4" /></case>
            <case value="guarantee"><input name="type" type="hidden" value="5" /></case>
            <case value="bulk"><input name="type" type="hidden" value="6" /></case>
            <default /><input name="type" type="hidden" value="0" />
        </switch>
        
    <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th><switch name="Think.get.mid">
                    <case value="second">秒还标：</case>
                    <case value="mortgage">抵押标：</case>
                    <case value="pledge">质押标：</case>
                    <case value="worth">净值标：</case>
                    <case value="credit">信用标：</case>
                    <case value="guarantee">担保标：</case>
                    <case value="bulk">团购标：</case>
                    <default />秒还标：
            </th></switch>
            <th colspan="2" >
            	<div class="alert alert-error">
            		<a class="close" data-dismiss="alert">×</a>
                    带*号必填，请填写真实有效的信息，以便更快通过审核，借到钱
                </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:100px;">
                   *标题:
            </td>
            <td>
                   <input name="title" type="text" class="span3" placeholder="请输入标题..."  maxlength="25"  datatype="*" nullmsg="请输入标题！">
            </td>
            <td style="width:500px;">
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    填写借款标题，写的好一点，能借到的机会就大一点
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   *年利率:
            </td>
            <td>
            	<div  class="input-append">
					<input name="rates" class="span1" type="text" maxlength="2"  datatype="n" nullmsg="请输入年利率！"><span class="add-on">%</span>
            	</div>
            </td>
            <td>
            	<div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    填写您提供给投资者的年利率,所填写的利率是您还款的年利率<br />年利率不能超过银行当期利率的4倍
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   借款用途:
            </td>
            <td>
                   <select name="use" class="span2">   
                   <volist name="linkage.use" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
            </td>
            <td>
             	<div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    说明借款的具体用途
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   统计单位:
            </td>
            <td>
            	<label class="checkbox inline counter_check">
                    <input name="candra" type="radio" value="0" checked onclick="switchover(1);">
                    按月
                </label>
                <label class="checkbox inline counter_check">
                    <input name="candra" type="radio" value="1" onclick="switchover(2);">
                    按天
                </label>
            </td>
            <td>
               	<div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    按月或按天
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   借款期限:
            </td>
            <td>
            	<label class="checkbox inline">
                   <select name="deadline" style="width:80px;" id="deadline">   
                    <volist name="linkage.deadline_month" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
                    <select style="width:80px;display: none;" id="deadline1">   
                     <volist name="linkage.deadline_day" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
                </label>
            </td>
            <td>
               	<div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    借款周期
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   还款方式:
            </td>
            <td>
                   <select name="way" class="span2">   
                    <volist name="linkage.way" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    还款方式：1、每月付利息，到期付本金2、每月付利息+本金
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   有效时间:
            </td>
            <td>
                   <select name="valid" style="width:80px;">   
                   <volist name="linkage.valid" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    此标展示天数，进度满100%直接进入复审环节
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   密码标状态:
            </td>
            <td>
                   <span onclick="$('#pass1').toggle();$('#pass').toggle();"><input name="code" data-no-uniform="true"  type="checkbox" class="iphone-toggle" value="1"></span>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    如果设为密码标，只有知道密码的投资者才能够进行投标
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   密码:
            </td>
            <td>
                   <span id="pass" class="input-xlarge uneditable-input span2" ></span>
                   <input id="pass1" name="password" type="password" class="span2" placeholder="请输入密码..." style="display: none;">
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    如果设为密码标，请在此处填写密码
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   最低投标金额:
            </td>
            <td>
                   <select name="min" style="width:80px;">   
                    <volist name="linkage.min" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    允许投资者对一个借款标的最低投标金额的限制
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   最高投标金额:
            </td>
            <td>
                   <select name="max" style="width:100px;">   
                    <volist name="linkage.max" id="ue">
                            <option value='{$ue.value}' >{$ue.name}</option>
                    </volist>
                    </select>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    允许投资者对一个借款标的投标总额的限制
                </div>
            </td>
          </tr>
        </tbody>
       <!-- <tbody>
          <tr>
            <td>
                   隐私状态:
            </td>
            <td>
                   <input name="privacy" data-no-uniform="true" type="checkbox" class="iphone-toggle"  value="1" checked="checked">
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    是否对非VIP会员公开身份信息、个人信息
                </div>
            </td>
          </tr>
        </tbody>-->
        <tbody>
          <tr>
            <td>
                   *借款金额:
            </td>
            <td>
            	<div  class="input-append">
                <if condition="$Think.get.mid eq 'guarantee'">
                   	<input name="money" type="text" class="span2" placeholder="请输入借款金额..." onkeyup="var money=$(this).val();$('#surplus').val(money);$('#assure').val(money);moneys(money);" maxlength="7"  datatype="n3-7" nullmsg="请输入借款金额！"><span class="add-on">元</span>
                   	<input id="assure" name="assure" type="hidden" />
                    <input id="surplus" name="surplus" type="hidden" />
                <else/>
                    <input name="money" type="text" class="span2" placeholder="请输入借款金额..." onkeyup="var money=$(this).val();$('#surplus').val(money);moneys(money);" maxlength="7"  datatype="n3-7" nullmsg="请输入借款金额！">><span class="add-on">元</span>
                    <input id="surplus" name="surplus" type="hidden" />
                </if>
                </div>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    借款金额应在100元至9,000,000元之间。交易币种均为人民币。<BR />
                    <a target="_blank" href="__ROOT__/Site/page/id/29.html" class="atv">
                </div>
            </td>
          </tr>
        </tbody>
        <if condition="$Think.get.mid eq 'guarantee'">
        <tbody>
          <tr>
            <td>
                   担保奖励:
            </td>
            <td>
            <div  class="input-append">
               <input name="flow_deadline" type="text" class="span1" maxlength="2" datatype="n" nullmsg="请输入担保奖励！"><span class="add-on">%</span>
            </div>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    给担保人的担保奖励，如借贷1000，担保奖励为1%，担保人担保500，那担保人可以获得500*1%=5元
                </div>
            </td>
          </tr>
        </tbody>
       <!-- <tbody>
          <tr>
            <td>
                   指定担保人:
            </td>
            <td>
                <input name="reward" class="span4" type="text">
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    多个担保人以|分割
                </div>
            </td>
          </tr>
        </tbody>-->
        </if>
        <tbody>
          <tr>
            <td>
                   投标奖励:
            </td>
            <td>
            	<label class="radio"><input type="radio" name="reward_type" value="0" checked  onclick="choose_reward(1)"/> 无</label><BR />
          		<div class="input-prepend input-append" style="margin-bottom: 10px;">
                <label class="radio"><input type="radio" name="reward_type" value="1" onclick="choose_reward(2)"/> </label>
                <span class="add-on">按金额奖励：</span><input id="reward_1" name="reward" class="span1 input-xlarge" type="text" disabled><span class="add-on">元</span>
                </div>
                <div class="input-prepend input-append">
                <label class="radio"><input type="radio" name="reward_type" value="2"  onclick="choose_reward(3)"/> </label>
                <span class="add-on">按比例奖励：</span><input id="reward_2" name="reward" class="span1 input-xlarge" type="text" disabled><span class="add-on">%</span>
                </div>
            </td>
            <td>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    奖励金额将会冻结您帐户中相应的账户余额，请确保帐户有足够的余额
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   *资料上传:
            </td>
            <td>
            	<input id="img" name="data" type="hidden" value="{$ed.img}"/>
                <input id="folder" type="hidden" value="mark"/>
                <input data-no-uniform="true" type="file" name="file_upload" id="file_uploads" />
            </td>
            <td>
            	<div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    请上传证明材料，至少上传一张<br />上传的证明材料必须真实有效，上传的越多<br />借到钱的机率也就越大<br />
                    <a href="__ROOT__/Home/Site/article/id/23.html" class="atv">《资料上传规规范》</a>
                </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
                   详细说明:
            </td>
            <td colspan="2" >
              	<textarea class="editor" name="content" style="width:800px;height:400px;"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
	  <div class="span4"></div>
	  <div class="span10">
      	  <img id="verifyImg" src='__APP__/Public/verify/' onClick="changeVerify()" title="点击刷新验证码" data-rel="tooltip" style="cursor:pointer;padding-left: 10px;"/>
          <input class="input-large" name="proving" maxlength="4" type="text"  style="width:50px;margin-top: 10px;" title="验证码" data-rel="tooltip"/>
          <button class="btn btn-primary" type="submit">
              确认提交
          </button>
      </div>
</form>
</div>
<!-- container end -->
<script src="__PUBLIC__/jquery/Validform_v5.3.2min.js"></script>
<script>
function choose_reward(type){
	if (type==1){
		$("#reward_1").attr("disabled","disabled");
		$("#reward_2").attr("disabled","disabled");
	}else if(type==2){
		$("#reward_1").removeAttr("disabled");
		$("#reward_2").attr("disabled","disabled");
	}else{
		$("#reward_2").removeAttr("disabled");
		$("#reward_1").attr("disabled","disabled");
	}
}
function changeVerify(){
    var timenow = new Date().getTime();
    document.getElementById('verifyImg').src='__APP__/Public/verify/'+timenow;
}
function switchover(id){
	if(id==1){
		$('#deadline1').hide();$('#deadline').show();$('#deadline').attr('name','deadline');$('#deadline1').attr('name','');
	}else{
		$('#deadline1').show();$('#deadline').hide();$('#deadline1').attr('name','deadline');$('#deadline').attr('name','');
	}
}
 $(function(){
	//$(".form-horizontal").Validform();  //就这一行代码！;

	$(".form-horizontal").Validform({
		datatype:{
			"me" : /^[\u4E00-\u9FA5\uf900-\ufa2d\w]{2,16}$/,
		}
	});
})
</script>
<!--底部  start-->
<include file="Index:footer" />