<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop  welfare">
	<div class="span4 welfare_top">
    	<h5 class="welfare_also">秒还标</h5>
        <p class="text-warning introduce">会员用户借款成功后系统即自动还款</p>
        <p class="view"><a href="#">查看详细信息</a></p>
        <a href="__ROOT__/Borrow/index/second.html" class="btn btn-info release">立即发布</a>
    </div>
    <div class="span4 welfare_top">
    	<h5 class="welfare_pledge">抵押标</h5>
        <p class="text-warning introduce">小微企业和个体公商户现场审核抵押发布借款</p>
        <p class="view"><a href="#">查看详细信息</a></p>
        <a href="__ROOT__/Borrow/index/mortgage.html" class="btn btn-info release">立即发布</a>
    </div>
    <div class="span4 welfare_top">
    	<h5 class="welfare_worth">净值标</h5>
        <p class="text-warning introduce">会员用网站留存的净值金额内发布借款</p>
        <p class="view"><a href="#">查看详细信息</a></p>
        <a href="__ROOT__/Borrow/index/pledge.html" class="btn btn-info release">立即发布</a>
    </div>
    <div class="span4 welfare_top">
    	<h5 class="welfare_credit">信用标</h5>
        <p class="text-warning introduce">会员用网站给予的信用额度内发布借款</p>
        <p class="view"><a href="#">查看详细信息</a></p>
        <a href="__ROOT__/Borrow/index/worth.html" class="btn btn-info release">立即发布</a>
    </div>
    <!--<div class="span4 welfare_top">
    	<h5 class="welfare_assure">担保标</h5>
        <p class="text-warning introduce">通过其他会员担保发布的借款</p>
        <p class="view"><a href="#">查看详细信息</a></p>
        <a href="__ROOT__/Borrow/index/credit.html" class="btn btn-info release">立即发布</a>
    </div>-->
    <div class="span4 welfare_top">
    	<h5 class="welfare_flow">流转标</h5>
        <p class="text-warning introduce">以债权转让的形式发布的借款</p>
        <p class="view"><a href="#">查看详细信息</a></p>
        <a href="__ROOT__/Borrow/index/guarantee.html" class="btn btn-info release">立即发布</a>
    </div>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />