<include file="Index:header" />
<!--头部 end -->
<div class="sub-nav" sup="Project">
    <div class="sub-nav-inner">
        <div class="container">
            <!--Navigation start-->
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a href="javascript:void(0)">理财产品</a></li>
                    </ul>
                </div>
            </div>
            <!--Navigation end-->
        </div>
    </div>
</div>
<!-- container start --> 
<div class=" row-fluid">
<div class="container paddtop  welfare">
<div class="span4">
	<dl>
	
    <dd class="welfare_top">
    	<h5 class="welfare_pledge">抵押标</h5>
        <p class="text-warning introduce">抵押的抵押物主要是不动产，如土地使用权、房产等；也可以是动产，如电视、机器设备等。</p>
        <p class="view"><a href="__ROOT__/Site/article/id/8.html">查看详细信息</a><a href="__ROOT__/Borrow/index/mortgage.html" class="btn btn-primary release">立即发布</a></p>
        
    </dd>
	</dl>
</div>
<div class="span4">
	<dl>
    <dd class="welfare_top">
    	<h5 class="welfare_pledge">质押标</h5>
        <p class="text-warning introduce">质押贷款是指贷款人按《担保法》规定的质押方式以借款人或第三人的动产或权利为质押物发放的贷款。 </p>
        <p class="view"><a href="__ROOT__/Site/article/id/7.html">查看详细信息</a><a href="__ROOT__/Borrow/index/pledge.html" class="btn btn-primary release">立即发布</a></p>
        
    </dd>
    
	</dl>
</div>

</div>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />