</div>
 <!-- Footer
    ================================================== -->
    <div class="hfooter row-fluid">
      <div class="container">
        <p class="foot">
        <span class="span5">
        <a href="__ROOT__/Site/page/id/1.html">关于我们</a> <span class="footer_halve">|</span>
        <a href="__ROOT__/Site/page/id/8.html">联系我们</a>
        </span>
        <span class="span7 text-right">{$s.sys_copy}</span>
        </p>
        {$Think.config.DS_POWERED}
      </div>
    </div>
    {$ajax_list}
<!-- external javascript
	================================================== -->
    <!-- 城市 -->
    <script src="__PUBLIC__/js/region.js"></script>
	<script src="__PUBLIC__/js/jq_area.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-ie.js"></script>
    <![endif]-->
	<!-- bootstrap-->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<!-- application script for Charisma demo -->
	<script src="__PUBLIC__/bootstrap/js/charisma.js"></script>
  
<script>
{$endjs}
</script>
</body>
</html>