<include file="Index:header" />
<!--头部 end -->
<div id="banner"></div>
<!-- 公告 -->
<div class ="bs-docs-social">
	<div class="container">
    	
    </div>
</div>
<div class="container">
    <h3 class="classify_h3">特点</h3>
    <div class="row-fluid text-left">
    <span class="span6">
    	<i class="icon128 service"></i>
        <span class="classification">
        	<h4>采用TP框架</h4>
            <p>Dswjcms基于TP框架开发的更利于快速行业站开发、更利于上手的CMS</p>
        </span>
    </span>
    <span class="span6">
    	<i class="icon128 subscription"></i>
        <span class="classification">
        	<h4>采用Charisma前端</h4>
            <p>利用Charisma前端使网站开发调用更简单、UI体验度更高、跨平台性更好</p>
        </span>
    </span>
    </div>
</div>
<!-- 公告 end -->
<!-- jumbotron end -->
<!-- container start --> 
<div class="container">
        
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />