<include file="Index:header" />
<!--头部 end -->

<!-- jumbotron start --> 
<div id="kinMaxShow">
	<volist name="shuff" id="ls">
    	<div><a href="{$ls.url}" target="_blank"><img src="__PUBLIC__/uploadify/uploads/undefined/{$ls.img}"/></a></div>
    </volist>
</div>
<form class="head_logo"  method="post"  action='__ROOT__/Logo/logings.html'>
  <div class="head_enroll"><a href="__ROOT__/Logo/register.html">注册</a></div>
  <div class="control-group">
    <input type="text" name="username" placeholder="用户名">
  </div>
  <div class="control-group">
    <input type="text" name="password" placeholder="密码">
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-info">登 录</button>
      <a href="__ROOT__/Logo/forgotpass.html">忘记密码？</a>
    </div>
  </div>
</form>
<!-- jumbotron end -->
<!-- container start --> 
<div class="container">
        <div class="row-fluid">
            <div class="span3">
                <div class="index_sprites index_equipment"></div>
                <h2>理财产品</h2>
                <p>秒还标、抵押标、质押标、流转标、担保标、信用标、净值标</p>
            </div>
            <div class="span3">
                <div class="index_sprites index_CSS3"></div>
                <h2>积分商城</h2>
                <p>通过平台理财获得积分后可兑换小礼物哦。</p>
            </div>
            <div class="span3">
                <div class="index_sprites index_browsers"></div>
                <h2>理财计算器</h2>
                <p>通过理财计算器可以获知理财产品可以带来的收益</p>
            </div>
            <div class="span3">
                <div class="index_sprites index_html5"></div>
                <h2>逾期垫付</h2>
                <p>妈妈说，再也不用担心借钱不还了。</p>
            </div>
         </div>
         <div class="row-fluid">
        <div class="span6 index_gray">
        	<h5>理财产品比例：</h5>
            <div class="box-content">
                <div id="piecharts" style="height:300px"></div>
            </div>
        </div>
        <div class="span5 index_gray">
        	<h5>性别比例：</h5>
            <div class="box-content">
                <div id="donutcharts" style="height: 300px;"></div>
            </div>
        </div>
        </div>
        <div class="index_loan ">
        	<h3>投资列表</h3>
            <div class="index_loant row-fluid">
                    <dl>
                        <dd class="span2">图片</dd>
                        <dd class="span2">标题</dd>
                        <dd class="span2">金额</dd>
                        <dd class="span1">利率</dd>
                        <dd class="span2">进度</dd>
                        <dd class="span1">期限</dd>
                        <dd class="span2">&nbsp;</dd>
                    </dl>
            <volist name="borrow" id="v">
            <if condition="$v.type eq 7">
                    <dl class="loan_nr">
                       <dd class="span1">
                       		<a href="__ROOT__/Loan/invest/{$v.id}.html">
                                <img src="__PUBLIC__/uploadify/uploads/mark/{$v.img}" style="width:50px;height:50px;"/>
                            </a>
                       </dd>
                        <dd class="span3">
                        	<a href="__ROOT__/Loan/invest/{$v.id}.html" data-rel="tooltip" title="{$v.title}">{$v.title}</a>
                            <i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i>
                            <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
                            <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>    
                            <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
                            <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>
                        </dd>
                        <dd class="span2">{$v.money}元</dd>
                        <dd class="span1">{$v.rates}%</dd>
                        <dd class="span2">
                        	<div class="progress" style="margin-bottom:0px;"  data-rel="tooltip" title="{$v.flow_ratio}%">
                          <div class="bar" style="width: {$v.flow_ratio}%;"></div>
                        </div>
                        </dd>
                        <dd class="span1">{$v.flow_deadlines}</dd>
                        <dd class="span2">
                        <if condition="($v.state eq 1)  OR  ($v.state eq 10)">
                         <a class="btn btn-success loan_btn" href="__ROOT__/Loan/invest/{$v.id}.html">立即认购</a>
                        <else />
                         <a class="btn loan_btn" >{$v.state_name}</a>
                        </if>
                       
                        </dd>
                    </dl>
            <else/>
                    <dl class="loan_nr">
                        <dd class="span1">
                       		<a href="__ROOT__/Loan/invest/{$v.id}.html">
                                <img src="__PUBLIC__/uploadify/uploads/mark/{$v.img}" style="width:50px;height:50px;"/>
                            </a>
                       </dd>
                        <dd class="span3">
                        	<a href="__ROOT__/Loan/invest/{$v.id}.html" data-rel="tooltip" title="{$v.title}">{$v.title}</a>
                            <switch name="v.type">
                                <case value="0"><i class="mark-ico-color mark-ico-seconds" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <case value="1"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <case value="2"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <case value="3"><i class="mark-ico-color mark-ico-net" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <case value="4"><i class="mark-ico-color mark-ico-letter" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <case value="5"><i class="mark-ico-color mark-ico-bear" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <case value="6"><i class="mark-ico-color mark-ico-group" data-rel="tooltip" title="{$v.type_name}"></i></case>
                                <default />无
                            </switch>
                            <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
                            <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>    
                            <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
                            <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>
                        </dd>
                        <dd class="span2">{$v.money}元</dd>
                        <dd class="span1">{$v.rates}%</dd>
                        <dd class="span2">
                        	<div class="progress" style="margin-bottom:0px;"  data-rel="tooltip" title="{$v.flow_ratio}%">
                          <div class="bar" style="width: {$v.flow_ratio}%;"></div>
                        </div>
                        </dd>
                        <dd class="span1">{$v.deadlines}</dd>
                        <dd class="span2">
                        <if condition="($v.state eq 1)  OR  ($v.state eq 10)">
                         <a class="btn btn-warning loan_btn" href="__ROOT__/Loan/invest/{$v.id}.html">{$v.state_name}</a>
                        <else />
                         <a class="btn loan_btn" >{$v.state_name}</a>
                        </if>
                       
                        </dd>
                    </dl>
                    <script>timeCount('limittime{$key}');</script> 
            </if>
            </volist>
                </div> 
            </div>
        </div>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />