<include file="Index:header" />
<style>
.prompt_top{
	margin-top: 20px;	
}
</style>
<!--头部 end -->
<div class="container prompt_top"> 
<p>需要签约本接口的请联系</p>
<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=819016953&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:819016953:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>819016953</a></p>
<p>说明：</p>
<p>1、直接和我们签约，免费提供宝付业务代码，如自行签约，请自行开发接口</p>
<p>2、宝付收费费率为&nbsp;T+1:千25;T+0:千2</p>
<p>3、需要其它接口开发的也可联系，非代理接口开发费用2000/个，已合作接口不收费用。</p>
</p>
</div>
<!--底部  start-->
<include file="Index:footer" />