a {outline: none !important;}
a:active {star:expression(this.onFocus=this.blur())!important;}
:focus { outline:0!important; }
body > .navbar {
  font-size: 13px;
}
.input-large{margin-right: 5px;}
.btn{margin-right: 5px;}
/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
body > .navbar .brands {
	margin-left: 0px;
	float: none;
	font-weight: normal;
	color: #999;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
	display: inline;
}
body > .navbar .brands:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #227c8c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#227c8c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#227c8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 0px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}
/* * Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing h1 {
  margin: 60px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.marketing h2 {
  font-weight: 200;
  margin-bottom: 5px;
}
.marketing p {
  font-size: 16px;
  line-height: 1.5;
}
.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  color: #999;
}
.marketing-img {
  display: block;
  margin: 0 auto 30px;
  max-height: 145px;
}
/* 布局
-------------------------------------------------- */

#loading{
margin-top: 20px;
width:128px;
font-weight: bold;
}
.center{
	text-align: center;
}
.login-box .input-prepend{
	margin-bottom: 10px;
}
.login-box .btn{
	margin-top:15px;
	width:100%
}
.orange{
	color: #F90;
}
.grey{
	color: #666;
}
.red{
	color: #F00;
}
.green{
	color: #0F0;
}
.paddtop{width:1000px;}
ul, ol,li {list-style:none outside none; }
.invest_loading{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.head{
	margin-top: 40px;
}
.admin_fluid h3{
	color: #666;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.admin_index{
	text-align: center;
	margin-top: 20px;
}
.admin_index a{
	display: block;
}
.admin_index a:hover{
	text-decoration: none;
}
.admin_content{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.admi_groups{
	margin: 10px;
	width:15%;
	float:left;
}
/*界面切换
---------------------------------------------------*/
.colour_switch a:hover{
	text-decoration: none;	
	cursor:pointer;
}
.colour_switch a h4{
	color: #666;
	padding: 5px;
	font-family: "微软雅黑";
	font-weight: normal;
}
.colour_switch a .title{
	display: block;
	height: 80px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	margin-bottom: 10px;
	font-family: "宋体";
	font-size: 12px;
}
.colour_switch a em{
	color: #F60;
	font-style: normal;
	display: block;
	height: 20px;
}
.colour_switch li{
	margin-right: 15px;
}
.row-fluid  .colour_switch  [class*="span"]{
	margin-left:0px;
}
.colour_switch a p{
	color: #999;
	padding-right: 5px;
	padding-left: 5px;
}
/*错误页
---------------------------------------------------*/
.jump_top{
	padding-top: 40px;
}
/*个人账务统计*/
.fund_screening{
	background-color: #FBFBFB;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}
.fund_screening p input{
	margin-right: 10px;
	margin-left: 10px;
}
.fund_screening p a{
	margin: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.fund_screening a:focus{
	text-decoration: none;
}
.fund_screening p a:hover{
	border-radius: 4px;
	text-decoration: none;
	background-color: #F90;
	color: #FFF;
}
.fund_screening dd,.fund_screening dt{
	float:left;
}
.fund_screening dt{
	font-weight: bold;
}
.fund_screening dl{
	float:left;
}
.fund_screening dd a{
	margin: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;	
}
.fund_screening dd a:hover{
	border-radius: 4px;
	text-decoration: none;
	background-color: #F90;
	color: #FFF;
}
.fund_screening .active{
	border-radius: 4px;
	background-color: #F90;
	color: #FFF;
}
#bgbackdrop{
	opacity: 0.8;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1040;
	background-color: #000;
	display: none;
}
#popping{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	width: 600px;
	background-color: #FFF;
	border-radius: 2px;
	margin-top: -250px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -280px;
	display: none;
}
#popping .jd{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}
#popping .cc{
	font-size: 14px;
	line-height: 30px;
	padding-right: 40px;
	padding-left: 40px;
	font-family: "微软雅黑";
}
#popping .redPrompt{
	color: #F00;
}