a {outline: none !important;}
a:active {star:expression(this.onFocus=this.blur())!important;}
:focus { outline:0!important; }
ul, ol,li {list-style:none outside none; }
body > .navbar {
  font-size: 12px;
}
/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #227c8c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#227c8c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#227c8c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#227c8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
	position: relative;
	z-index: 2;
}


/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 50px 0 0;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}
/* * Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing h1 {
  margin: 60px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.marketing h2 {
  font-weight: 200;
  margin-bottom: 5px;
}
.marketing p {
  font-size: 16px;
  line-height: 1.5;
}
.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  color: #999;
}
.marketing-img {
  display: block;
  margin: 0 auto 30px;
  max-height: 145px;
}

/* 小图标
-------------------------------------------------- */
.zt{
	min-height: 400px;
}
.mark-ico-color{background-image : url('../img/mark-icons-color16.png') ;background-repeat : no-repeat ;display : inline-block ;height : 16px ;vertical-align : text-top ;width : 16px ;}
.mark-ico-color:hover{
	background-image: url('../img/mark-icons-black16.png');
}
.mark-ico-seconds{
	background-position: 0px 0px;	
}
.mark-ico-flow{
	background-position: -21px 0px;	
}
.mark-ico-bet{
	background-position: -42px 0px;	
}
.mark-ico-letter{
	background-position: -64px 0px;	
}
.mark-ico-group{
	background-position: -86px 0px;	
}
.mark-ico-net{
	background-position: -107px 0px;	
}
.mark-ico-day{
	background-position: -128px 0px;	
}
.mark-ico-prize{
	background-position: -170px 0px;	
}
.mark-ico-push{
	background-position: -149px 0px;	
}
.mark-ico-bear{
	background-position: -191px 0px;	
}

/* Footer
-------------------------------------------------- */
.center{
	text-align: center;
	padding-bottom: 20px;
}
.error{
	font-size: 18px;
	color: #F00;
	font-weight: bold;
}
.reds{
	color: #F00;
	font-size: 14px;
}
.success{
	font-size: 18px;
	color: #0C0;
	font-weight: bold;
}
.title{
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	position: relative;
	top: 10px;
}
/* Footer
-------------------------------------------------- */
.hfooter {
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #333;
	color: #999;
}
.hfooter p {
  margin-bottom: 0;
}
.hfooter p a{
	color: #999;
}
.foot{
	float:left;
	width:100%;
	padding-bottom: 20px;
}
.footer_halve{
	color: #CCC;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}
.hfooter p a:hover{
	color: #09F;
	text-decoration: none;
}
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
.login_top{
	margin-top: 50px;
}
.return{
	text-align: left;
}
.return a{
	color: #FFF;
	float: left;
	font-size: 20px;
	padding-left: 20px;
}
.red{
	color: #F00;
	padding-top: 10px;
}
.green{
	padding-top: 10px;
	color: #0F0;
}
.return a:hover{
	color: #FFF;
	text-decoration: none;
}
/* 首页
-------------------------------------------------- */
.clearfix{
	margin-top: 10px;
	
}
.collapse a{
	font-size: 18px;
	font-family: "微软雅黑";
}
.index{
	font-size: 12px;	
	margin-top: 40px;
	width: auto;
}
.index_introduce{
	border: 1px solid #CCC;
	-webkit-border-radius:3px;
	margin-top: 20px;
	float:left;
}
.index_introduce .index_column_title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	padding: 2px;
	font-weight: bold;
}
.index_introduce .index_introduce_content{
	padding: 5px;
	float:left;
}
.index_introduce .index_column_title a{
	float:right;
}
.index_column{
	border: 1px solid #CCC;
	-webkit-border-radius:3px;
	margin-top: 20px;
	width:360px;
}
.index_column dl a{
	color: #333;	
}
.index_column dd{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-right: 10px;
}
.index_column .index_column_title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	padding: 2px;
	font-weight: bold;
}
.index_column .index_column_title a{
	float:right;
}
.index_column .index_contact{
	padding: 5px;
}
.index_sprites{background-image: url(../images/feature-sprites.png);background-repeat: no-repeat;}
.index_sprites:hover{background-image: url(../images/feature-sprites2.png);background-repeat: no-repeat;}
.index_equipment{
	background-position: left top;
	height: 107px;
	width: 205px;
}
.index_CSS3{
	background-position: -240px top;
	height: 107px;
	width: 125px;
}
.index_browsers{
	background-position: -380px top;
	height: 107px;
	width: 120px;
}
.index_html5{
	background-position: -545px top;
	height: 107px;
	width: 100px;
}

/* 首页滚动
-------------------------------------------------- */
.webwidget_slideshow_common{
    position: relative;
    font-family: Arial,Sans-Serif;
    font-size: 12px;
}
.webwidget_slideshow_common .slides_box{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: absolute;
}
/* 投资
-------------------------------------------------- */
.loan_top {
	float:left;
  	*border: 1px solid #999;
	/* IE6-7 */

  	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	padding-bottom: 60px;
}
.loan_top ul{
	margin: auto;
	padding: 10px;
}
.loan_top li{
	padding-top: 10px;
}
.loan_top .loan_nr{
	margin: auto;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	clear: both;
}
.loan_top dd{line-height: 12px;}
.loan_top .sp1{
	float:left;
	margin: 5px;
}
.loan_top .sp1 img{
	height:70px;
	width:70px;
}
.loan_top .sp1 a{
	float:left;
	text-decoration: none;
	padding: 2px;
	width:70px;
	height:70px;
	border: 1px solid #CCC;
	margin-top: 5px;
}
.loan_top .sp2{
	float:left;
	width:220px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
.loan_top .sp3{
	float:left;
	width:150px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
}
.loan_top .sp4{
	float:left;
	width:120px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	text-align: center;
	padding-top: 20px;
}
.loan_btn {
	width: 60px;
}
.paddtop .loan_search{
	margin-top: 20px;
	margin-bottom: 20px;
	border-right-style: none;
	border-left-style: none;
}
.loan_search .pitch{
	background-color: #333;
}
.loan_page{
	clear: both;
	padding-top: 20px;
}
.loan_img{
	padding-left: 10px;
}
.loan_img img{
	padding-top: 20px;
}
.loan_sumb{
	margin-top: 40px;
	margin-bottom: 40px;
}
.scrollText{
	height:180px;
	*height:180px;	
	_height:164px;
	margin:10px auto 0;
	zoom:1;
	width:100%;
	overflow:hidden;
	font-size:12px;
	line-height:20px;
	margin-bottom:4px;
	color: #666;
	font-family: "宋体";
} 
.invest_loading{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.scrollText li{
	width:200px;
	height:22px;
	overflow: hidden;
}
.scrollText .goods{
	color: #F90;	
}
.scrollText a{margin-right:6px;color:#003C71;text-decoration:none;} 
.scrollText a:hover{color:#c00;text-decoration:underline;}  

.integral_portrait{
	float:left;
	width:100%;
}
.integral_portrait span a{
	color: #09F;
}
.integral_portrait span{
	float:left;
	font-size: 12px;
	padding-right: 20px;
}
.integral_portrait dd{
	float:left;
	clear: both;
}
.integral_portrait b{
	margin-right: 10px;	
}
.integral_hot i{
	font-size: 12px;
	color: #F90;
}
.integral_hot ul{
	margin: 0px;
	padding: 0px;
}
.integral_hot .img{
	margin-right: 5px;	
}
.integral_hot a{
	text-decoration: none;
}
.integral_hot li{
	float:left;
	font-size: 12px;
}
.integral_hot .right{width:110px;}
.integral_common dd a{
	color: #09F;
	font-size: 12px;
}
.integral_search{
	float:left;
	width:100%;
	border: 1px solid #CCC;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
  	*border: 1px solid #999;
	/* IE6-7 */

  	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	clear: both;
	padding: 10px;
	text-align: center;	
}
.integral_search dl{
	float:left;
	margin: 0px;
	padding: 0px;
	padding: 5px;
	width:100%;
}
.integral_search dt{float:left;}
.integral_search .division{
	width:100%;
	float:left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	clear: both;
	
}
.integral_search .dsd{	
	float:left;
	width: 10%;
}
.integral_search .dsds{	
	float:left;
	width: 10%;
}
.integral_search span{
	color: #999;
}
.integral_search .pitch a,.integral_search .pitch span{
	color: #FFF;
	font-weight: bold;	
}
.integral_search .pitch{
	background-color: #333;
}
.integral_subject dl{
	float:left;
	border: 1px solid #DFDFDF;
	border: 1px solid #DFDFDF;
	border: 1px solid #DFDFDF;
  	*border: 1px solid #999;
	/* IE6-7 */

  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
	position: relative;
	background-color: #FFF;
	margin-left: 5px;
	width:170px;
}
.integral_subject dl a:hover{
	color: #09F;	
}
.integral_subject dd{
	padding: 0px;
	margin: 0px;
}
.integral_subject dd a{
	color: #666;
}
.integral_subject dl .top{
	width:100%;
	position: absolute;
	top: 1px;
	left:0px;
	display: none;
}
.integral_subject dl dt{
	height:50px;
	font-weight: normal;
	text-align: center;
}
.integral_subject dl dt a{
	float:left;
	width:105px;
	color: #666;
	background-color: #FFF;
	display: block;
}
.integral_subject dl dt a span{
	float:left;
	width:100%;
}
.integral_subject dl dt .integ{
	width:104px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DFDFDF;
}
#file_content li{position: relative;}
#file_content .thumbnail img,.thumbnail > a{
	height:150px;
	width:150px;
}
#file_content .thumbnail{
	margin-bottom: 0px !important;
}
#file_content li .top{
	width:100%;
	position: absolute;
	top: 1px;
	left:0px;
	z-index: 3;
	text-align: right;
	color: #666;
	background-image: url(../img/lucency.png);
	background-repeat: repeat;
	height: 30px;
	
}
#file_content li .top a{
	margin-top: 5px;
	margin-right: 10px;
}
.integral_title{
	height: 40px;
}
.paddtop{
	padding-top: 40px;
	overflow: hidden;
}
/*
投资详细页
*/
.loan_cont dd{
	text-align: left;
	padding-left: 10px;
	margin-bottom: 10px;
}
.loan_cont dt{
	font-size: 18px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.loan_cont dd .invest_plan{
	width:200px;
}
.invest_title{
	font-family: "Changa One";
	font-size: 22px;
	font-weight: bold;
}
.invest_below{
	margin-top: 20px;
}
.invest_below dl{
	float:left;
}
.invest_right .invest_btn{
	height: 40px;
	width: 80px;
	line-height: 40px;
}
.invest_right .invest_line{
	float:left;
	width:100%;
	margin-bottom: 20px;
}
.invest_icon{
	position: relative;
	bottom: 5px;
}
.invest_bid dd{
	padding-bottom: 10px;
}
.invest_price{
	font-size: 22px;
	color: #F90;
	font-family: "微软雅黑";
}
.invest_refer{margin-top: 20px;}
.loan_add{
	position: relative;
	right: 75px;
}
.loan_maxs{
	margin-left: 20px;
}
/* 个人中心
-------------------------------------------------- */
.center_below{
	float:left;
	width:95%;
	border: 1px solid #CCC;
	margin-top: 20px;
	padding-left: 20px;	
}
.center_below span{
	padding-right:50px;
}
.center_below h5{
	font-size: 14px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding: 5px;
}
.center_below p{
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.subnav{
	background-color: #CCC;
}
.center_right .dataTables_wrapper select{
	width:auto;
}
.fund_audit label{
	float:left;
	clear: both;
}
.fund_audit dl{
	float:left;
	padding: 0px;
	margin: 0px;
}
.fund_audit dt{
	float:left;
}
.fund_audit dd{
	float:left;
	padding-right: 20px;
}
.fund_bank{
	width:100%;
	float:left;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.approve_vip a{
	padding: 5px;
	border: 1px solid #CCC;
}
.approve_vip a:hover{
	color: #FFF;
	background-color: #F90;
	border-top-color: #F60;
	border-right-color: #F60;
	border-bottom-color: #F60;
	border-left-color: #F60;
	text-decoration: none;
}
.approve_vip .hove{
	color: #FFF;
	background-color: #F90;
	border-top-color: #F60;
	border-right-color: #F60;
	border-bottom-color: #F60;
	border-left-color: #F60;
	text-decoration: none;
}
.approve_with{
	font-size: 24px;
	font-weight: bold;
	color: #F90;
}
.center_remind{
	clear: both;
	margin-bottom: 0px;
	position: relative;
	top: 10px;
}
/* 计算器
-------------------------------------------------- */
.counter{
	text-align: left;
}
.counter .clearfix{
	margin-bottom: 20px;
}
.counter_result{
	text-align: left;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.couter_total{
	text-align: left;
	color: #06F;
}
.couter_total span{
	padding-right: 20px;	
}
.couter_total i{
	color: #F00;
}