<include file="Index:header" />
<!--头部 end -->
<!--主体 -->
<div class="row-fluid center login-box">
    <div class="well login_top">
        <form class="form-horizontal" name="myform" method="post">
            <fieldset>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input title="用户" data-rel="tooltip" autofocus class="input-large span10" name="username" type="text" placeholder="请输入用户名..." />
                </div>
                <div class="clearfix"></div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span><input title="密码" data-rel="tooltip" class="input-large span10" name="password" type="password" placeholder="请输入密码..." />
                </div>
                <div class="clearfix"></div>
                
                <div class="input-prepend" style="width:180px;">
                    <span class="add-on"><i class="icon-qrcode"></i></span><input title="验证码" data-rel="tooltip" class="input-large" name="proving" type="text"  style="width:50px;" placeholder="验证码"/>
                     <img id="verifyImg" src='__APP__/Public/verify/' onClick="changeVerify()" title="点击刷新验证码" data-rel="tooltip" style="cursor:pointer;padding-left: 10px;"/>
                </div>
				<div class="clearfix"></div>
                <p class="center">
                <button type="submit" class="btn btn-primary">登 录</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>
<!-- 主体 end-->
<!--底部 -->
 <script language="JavaScript">
	function changeVerify(){
		var timenow = new Date().getTime();
		document.getElementById('verifyImg').src='__APP__/Public/verify/'+timenow;
	}
</script>
<include file="Index:footer" />
<!--底部 end-->
