<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop jump_top">
	<!-- 上半部 start-->
<volist name="borrow" id="v">
	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 invest_left">
                     <if condition="$heads gt 0">
                        <img src="__PUBLIC__/FaustCplus/php/img/big_user_{$v.uid}.jpg" width="110"/>
                     <else/>
                        <img src="__PUBLIC__/FaustCplus/php/img/big_user_0.jpg" width="110"/>
                     </if>
                <dl>
                	<dd>信用等级：<img src="__PUBLIC__/uploadify/uploads/grade_img/{$v.membership_grade_img}" title="{$v.membership_grade_name}" data-rel="tooltip" data-width="48.9362%"/></dd>
                    <dd>用户名：{$v.username}</dd>
                    <dd>地区：{$v.location}</dd>
                    <dd>注册时间：{$v.join_date|date="Y-m-d H:i:s",###}</dd>
                    <dd>
                    	认证：
                    	<if condition="$v.email_audit gt 1">
                        <i class="icon icon-orange icon-envelope-closed"  data-rel="tooltip" title="邮箱已认证"></i>
                        <else />
                        <i class="icon icon-envelope-closed" data-rel="tooltip" title="邮箱未认证"></i>
                        </if>
                        <if condition="$v.certification gt 1">
                        <i class="icon icon-orange icon-profile"  data-rel="tooltip" title="实名已认证"></i>
                        <else />
                        <i class="icon icon-profile" data-rel="tooltip" title="实名未认证"></i>
                        </if>
                        <if condition="$v.video_audit gt 1">
                        <i class="icon icon-orange icon-comment-video"  data-rel="tooltip" title="视频已认证"></i>
                        <else />
                        <i class="icon icon-comment-video" data-rel="tooltip" title="视频未认证"></i>
                        </if>
                        <if condition="$v.site_audit gt 1">
                        <i class="icon icon-orange icon-users"  data-rel="tooltip" title="现场已认证"></i>
                        <else />
                        <i class="icon icon-users" data-rel="tooltip" title="现场未认证"></i>
                        </if>
						<!--<if condition="$v.wechat_audit gt 1">
                        <i class="icon icon-orange icon-messages"  data-rel="tooltip" title="微信已认证"></i>
                        <else />
                        <i class="icon icon-messages" data-rel="tooltip" title="微信未认证"></i>
                        </if>-->
                        <if condition="$v.cellphone_audit gt 1">
                        <i class="icon icon-orange icon-cellphone" data-rel="tooltip" title="手机已认证"></i>
                        <else />
                        <i class="icon icon-cellphone"  data-rel="tooltip" title="手机未认证"></i>
                        </if>
                    </dd>
                </dl>
            </div>
            <div class="span9 invest_right">
                <div class="span6">
                <if condition="$v.type eq 7">
                <div class="invest_title">{$v.title}
                    <i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i>
                    <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
                    <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>
                    <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
                    <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>
                </div>
                <dl>
                	<dd>流转金额：<span class="invest_price">{$v.money|number_format=2,'.',','}</span> 元</dd>
                	<dd>原年利率：{$v.rates}%&nbsp;&nbsp;&nbsp;&nbsp;
                    投标奖励：
                    {$v['rewards']?$v['rewards']:'无'}
                    </dd>
                    <dd>原借款期限：{$v.deadlines}&nbsp;&nbsp;&nbsp;&nbsp;
                        流转期限：{$v.flow_deadlines}</dd>
                    <dd>原还款方式：{$v.way}</dd>
                    <dd>
                        每份认购金额：{$v.min_name|number_format=2,'.',','} 元&nbsp;&nbsp;&nbsp;&nbsp;
                        最低认购期限：{$v.min_limits}
                    </dd>
                    <dd>审核时间：{$v.checktime|date="Y-m-d H:i:s",###}</dd>
                    <dd>结束时间：{$v.limittime|date="Y-m-d H:i:s",###}</dd>
                    <dd>还可认购：{$v.subscribe} 份&nbsp;&nbsp;&nbsp;&nbsp;已回购：{$v.repos}份</dd>
                    <dd>正在流转：{$v.flows} 份 <a href="#flowmode" data-toggle="modal" data-rel="tooltip" > 查看记录</a></dd> 
                    <dd>已完成：{$v.flow_ratio}%
                    <div class="progress invest_plan">
                      <div class="bar" style="width: {$v.flow_ratio}%"></div>
                    </div>
                    </dd>
                    <if condition="($v.state eq 1)  OR  ($v.state eq 10)">
                    <dd><a class="btn btn-primary invest_btn" href="#tEnder" data-toggle="modal" data-rel="tooltip" >立即认购</a></dd>
                    <else />
                    <dd><a class="btn invest_btn" data-toggle="modal" data-rel="tooltip" >{$v.state_names}</a></dd>
                    </if>
                </dl>
                </div>
                <else/>
                <div class="invest_title">{$v.title}
                    <switch name="v.type">
                        <case value="0"><i class="mark-ico-color mark-ico-seconds" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="1"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="2"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="3"><i class="mark-ico-color mark-ico-net" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="4"><i class="mark-ico-color mark-ico-letter" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="5"><i class="mark-ico-color mark-ico-bear" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="6"><i class="mark-ico-color mark-ico-group" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="7"><i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <default />无
                    </switch>
                    <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
                    <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>
                    <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
                    <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>
                </div>
                <dl>
                	<dd>借入金额：<span class="invest_price">{$v.money|number_format=2,'.',','}</span> 元</dd>
                	<dd>年利率：{$v.rates}%&nbsp;&nbsp;&nbsp;&nbsp;
                    投标奖励：
                    {$v['rewards']?$v['rewards']:'无'}
                    </dd>
                    <dd>借款期限：{$v.deadlines}&nbsp;&nbsp;&nbsp;&nbsp;<gt name="v.flow_deadline" value="0">担保奖励：{$v.flow_deadline} %<else/></gt></dd>
                    <dd>还款方式：{$v.way}</dd>
                    <dd>
                        最小投标金额：{$v.min_name|number_format=2,'.',','} &nbsp;&nbsp;&nbsp;&nbsp;
                        最大投标金额：<if condition="$v.max_name gt 0">{$v.max_name|number_format=2,'.',','}<else/>无限</if>
                        
                    </dd>
                    <dd>审核时间：{$v.checktime|date="Y-m-d H:i:s",###}</dd>
                    <if condition="$v.limittime gt 0">
                    <dd>还款时间：{$v.limittime|date="Y-m-d H:i:s",###}</dd>
                    </if>
                    <if condition="($v.state eq 7) OR ($v.state eq 8) OR ($v.state eq 9) ">
                    <dd>距还款时间还需：<span id="limittimes" endtime="{$v.limittime|date="Y/m/d H:i:s",###}"></span></dd>
                    <else />
                    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余：<span id="limittimes" endtime="{$v.endtime|date="Y/m/d H:i:s",###}"></span></dd>
                    </if>
                    <if condition="$v.state eq 10">
                    <dd>还需：{$v.assure|number_format=2,'.',','}元&nbsp;&nbsp;&nbsp;&nbsp;已投：{$v.alreadys|number_format=2,'.',','}元</dd>
                    <else/>
                    <dd>还需：{$v.surplus|number_format=2,'.',','}元&nbsp;&nbsp;&nbsp;&nbsp;已投：{$v.already|number_format=2,'.',','}元</dd>
                    </if>
                    <dd>总投标数：{$v.bid_records_count} 笔 <a href="#rEcord" data-toggle="modal" data-rel="tooltip" > 查看记录</a></dd> 
                    <if condition="$v.type eq 5">  
                    <dd>总担保数：{$v.assure_records_count} 笔 <a href="#dEcord" data-toggle="modal" data-rel="tooltip" > 查看记录</a></dd>
                    </if>
                    <if condition="$v.state eq 10">    
                    <dd>已担保：{$v.ratios}%
                    <div class="progress invest_plan">
                      <div class="bar" style="width: {$v.ratios}%"></div>
                    </div>
                    </dd>
                    <else/>
                    <dd>已完成：{$v.ratio}%
                    <div class="progress invest_plan">
                      <div class="bar" style="width: {$v.ratio}%"></div>
                    </div>
                    </dd>
                    </if>
                    <if condition="($v.state eq 1)  OR  ($v.state eq 10)">
                    <dd><a class="btn btn-primary invest_btn" href="#tEnder" data-toggle="modal" data-rel="tooltip" >{$v.state_names}</a></dd>
                    <else />
                    <dd><a class="btn invest_btn" data-toggle="modal" data-rel="tooltip" >{$v.state_names}</a></dd>
                    </if>
                </dl>
                </div>
                </if>
                <div class="span6" >
                    <!-- Fotorama -->
                    <div class="fotorama" data-width="100%" data-ratio="800/600" data-nav="thumbs" data-allow-full-screen="true" data-transition = "crossfade" data-keyboard="true" >
                      <foreach name="img" item="vo">
                            <img src="__PUBLIC__/uploadify/uploads/mark/{$vo}"/>
                    </foreach>
                    </div>
                    <div class="invest_line">
                        分享：
                        <i class="icon icon-color icon-date"></i>
                        <i class="icon icon-color icon-calendar"></i>
                        <i class="icon icon-color icon-web"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 上半部 end-->
    <if condition="$Think.session.user_uid gt 0">
    <!-- 下半部 start-->
    <div class="accordion invest_below" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            借入详情
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p>
            	{$v.content}
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            还款信用
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
          	<dl>
                <dd class="span4">{$v.standard} 次流标</dd>
                <dd class="span4">{$v.stay_number} 笔待还款</dd>
                <dd class="span4">{$v.amount_number} 笔已成功还款</dd>
                <dd class="span4">{$v.overdue_number} 笔逾期未还款</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            个人资料
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
          	<dl>
            	<dd class="span4">真实姓名：{$v.name}</dd>
                <dd class="span4">性别：{$v.gender}</dd>
                <dd class="span4">民族：{$v.national}</dd>
                <dd class="span4">出生日期：{$v.born|date="Y-m-d",###}</dd>
            	<dd class="span4">身份证：{$v.idcard|substr=0,13}*****</dd>
                <dd class="span4">籍贯：{$v.native_place}</dd>
                <dd class="span4">所在地：{$v.location}</dd>
                <dd class="span4">婚姻状况：{$v.marriage}</dd>
                <dd class="span4">学历：{$v.education}</dd>
                <dd class="span4">月收入：{$v.monthly_income}</dd>
                <dd class="span4">住房条件：{$v.housing}</dd>
                <dd class="span4">购车情况：{$v.buy_cars}</dd>
                <dd class="span4">邮箱：{$v.email}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            账户详情
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
          	<dl>
            	<dd class="span4">账户总额： {$v.total_money|number_format=2,'.',','}</dd>
                <dd class="span4">待还总额： {$v.stay_still|number_format=2,'.',','} </dd>
                <dd class="span4">借入总额： {$v.amount_total|number_format=2,'.',','}</dd>
                <dd class="span4">待收总额： {$v.due_in|number_format=2,'.',','}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <else/>
    <div class="invest_login">只有<a href="__ROOT__/Logo/register.html">注册</a>用户才可以查看个人信息！现在<a href="__ROOT__/Logo/login.html">登录</a></div>
    </if>
     <!-- 下半部 end-->
     <!-- 用户留言 start
     <form method="post" action="__URL__/addleave">
     <div>
     	<textarea class="editor"name="content" style="width:100%;height:300px;"></textarea>
     </div>
     <div class="invest_refer">
     <button type="submit" class="btn btn-primary span2" >确认提交</button>
     </div>
     </form>
    用户留言 end-->
</div>
<!-- container end -->
<!--底部  start-->
<!--投标记录 start-->
<div id="rEcord" class="modal hide fade" style="width:900px;left:35%">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>投标记录</h3>
    </div>
    <if condition="$Think.session.user_uid gt 0">
    <div class="modal-body">
        <table class="table table-striped table-bordered table-condensed">
        	<thead>
              <tr>
                <th>ID</th>
                <th>投标人</th>
                <th>年利率</th>
                <th>投标金额(元)</th>
                <th>投标时间</th>
                <th>状态</th>
              </tr>
            </thead>
<foreach name="v.bid_records" item="vo">
            <tbody>
              <tr>
                <td>
                   {$key+1}
                </td>
                <td>
                  {$vo.actionname.uname}
                </td>
                <td>
                  {$v.rates}%
                </td>
                <td>
                  {$vo.actionname.operation|number_format=2,'.',','}
                </td>
                <td>
                  {$vo.time|date="Y-m-d H:i:s",###}
                </td>
                <td>
                  成功
                </td>
              </tr>
            </tbody>
</foreach>
        </table>
    </div>
    <else/>
    <div class="invest_login">只有<a href="__ROOT__/Logo/register.html">注册</a>用户才可以查看个人信息！现在<a href="__ROOT__/Logo/login.html">登录</a></div>
    </if>
</div>
<!--投标记录 end-->
<!--流转记录 start-->
<div id="flowmode" class="modal hide fade" style="width:900px;left:35%">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>流转记录</h3>
    </div>
    <if condition="$Think.session.user_uid gt 0">
    <div class="modal-body">
        <table class="table table-striped table-bordered table-condensed">
        	<thead>
              <tr>
                <th>ID</th>
                <th>投标人</th>
                <th>年利率</th>
                <th>投标金额(元)</th>
                <th>投标时间</th>
                <th>状态</th>
              </tr>
            </thead>
<foreach name="v.flow_records" item="vo">
            <tbody>
              <tr>
                <td>
                   {$key+1}
                </td>
                <td>
                  {$vo.actionname.uname}
                </td>
                <td>
                  {$v.rates}%
                </td>
                <td>
                  {$vo.actionname.operation|number_format=2,'.',','}
                </td>
                <td>
                  {$vo.time|date="Y-m-d H:i:s",###}
                </td>
                <td>
                  成功
                </td>
              </tr>
            </tbody>
</foreach>
        </table>
    </div>
    <else/>
    <div class="invest_login">只有<a href="__ROOT__/Logo/register.html">注册</a>用户才可以查看个人信息！现在<a href="__ROOT__/Logo/login.html">登录</a></div>
    </if>
</div>
<!--流转记录 end-->
<!--担保记录 start-->
<div id="dEcord" class="modal hide fade" style="width:900px;left:35%">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>担保记录</h3>
    </div>
    <if condition="$Think.session.user_uid gt 0">
    <div class="modal-body">
        <table class="table table-striped table-bordered table-condensed">
        	<thead>
              <tr>
                <th>ID</th>
                <th>担保人</th>
                <th>担保金额(元)</th>
                <th>担保时间</th>
                <th>状态</th>
              </tr>
            </thead>
<foreach name="v.assure_records" item="vo">
            <tbody>
              <tr>
                <td>
                   {$key+1}
                </td>
                <td>
                  {$vo.actionname.uname}
                </td>
                <td>
                  {$vo.actionname.operation|number_format=2,'.',','}
                </td>
                <td>
                  {$vo.time|date="Y-m-d H:i:s",###}
                </td>
                <td>
                  成功
                </td>
              </tr>
            </tbody>
</foreach>
        </table>
    </div>
    <else/>
    <div class="invest_login">只有<a href="__ROOT__/Logo/register.html">注册</a>用户才可以查看个人信息！现在<a href="__ROOT__/Logo/login.html">登录</a></div>
    </if>
</div>
<!--担保记录 end-->
<!--投标确认 start-->
<if condition="$v.type eq 7">
<div id="tEnder" class="modal hide fade" style="width:900px;left:35%">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>认购确认</h3>
    </div>
	<if condition="$Think.session.user_uid gt 0">
    <div class="modal-body">
        <div class="span6">
        <dl class="invest_bid">
        	<dd class="invest_title">
            	{$v.title}
            	<if condition="$v.type eq 7">
            	<i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i>
            </if>
             <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
            <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>
            <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
            <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>            </dd>
            <dd>年利率：{$v.rates}%&nbsp;&nbsp;&nbsp;&nbsp;
            投标奖励：
            {$v['rewards']?$v['rewards']:'无'}
            </dd>
            <dd>
                每份认购金额：{$v.min_name|number_format=2,'.',','} &nbsp;&nbsp;&nbsp;&nbsp;
                最低认购期限：{$v.min_limits}
            </dd>
            <dd>借款金额：<span class="invest_price">{$v.money|number_format=2,'.',','}</span> 元&nbsp;&nbsp;&nbsp;&nbsp;还可认购：{$v.subscribe} 份</dd>
        	<dd>可用余额 {$money.available_funds|number_format=2,'.',','} 元</dd>
        	
        </dl>
        </div>
        <div class="span4">
        <form method="post" action="__URL__/flowUpdate">
        <input name="id" type="hidden" value="{$v.id}" />
        <input name="update_uid" type="hidden" value="{$v.uid}" />
        <dl>
            <dd>
            认购份数：
            	<a class="icon icon-blue icon-minus invest_icon" href="#" onClick="Totalprice(1,{$v.subscribe},{$money.available_funds},{$v.min})"></a>
                <span class="input-append">
                	<input id="price" name="copies" type="text" value="1" class="span1"  onBlur="Totalprice(4,{$v.subscribe},{$money.available_funds},{$v.min})"/>
                    <span class="add-on">份</span>
                </span>
                <a class="icon icon-blue icon-plus invest_icon" href="#" onClick="Totalprice(2,{$v.subscribe},{$money.available_funds},{$v.min})"></a>
                <a href="#" onClick="Totalprice(3,{$v.subscribe},{$money.available_funds},{$v.min})">最大份数</a>
            </dd>
            <dd>
            认购期限：
            	<a class="icon icon-blue icon-minus invest_icon" href="#" onClick="Totalmonth(1,{$v.min_limit},{$v.also_deadline})"></a>
                <span class="input-append">
                	<input id="month" name="deadline" type="text" value="{$v.min_limit}" class="span1"  onBlur="Totalmonth(4,{$v.min_limit},{$v.also_deadline})"/>
                    <span class="add-on"><if condition="$v.candra eq 0">月<else/>天</if></span>
                </span>
                <a class="icon icon-blue icon-plus invest_icon" href="#" onClick="Totalmonth(2,{$v.min_limit},{$v.also_deadline})"></a>
                <a href="#" onClick="Totalmonth(3,{$v.min_limit},{$v.also_deadline})">最大期限</a>
            </dd>
           <!-- <dd>
            是否续购：
            <label class="radio"><input type="radio" name="continue" value="1" class="noty" checked/> 是</label>
            <label class="radio"><input type="radio" name="continue" value="0" class="noty" /> 否</label>
            </dd>-->
            <eq name="v.code" value="1">
            <dd>密码标密码：<input type="password" class="span2" name="password"/></dd>
            </eq>
            <dd>支付密码：<input type="password" class="span2" name="pay_password"/></dd>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;验证码：
            <input type="text" class="span1" name="proving"/>
            <img id="verifyImg" src='__APP__/Public/verify/' onClick="changeVerify()" maxlength="4" title="点击刷新验证码" style="cursor:pointer;padding-left: 10px;"/>
            </dd>
            <dd><button type="submit" class="btn btn-primary span2" >确认提交</button></dd>
        </dl>
        </form>
        </div>
    </div>
    <else/>
    <div class="invest_login">只有<a href="__ROOT__/Logo/register.html">注册</a>用户才可以查看个人信息！现在<a href="__ROOT__/Logo/login.html">登录</a></div>
    </if>
<else/>
<div id="tEnder" class="modal hide fade" style="width:900px;left:35%">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <if condition="$v.state eq 10">
      <h3>担保确认</h3>
      <else/>
      <h3>投标确认</h3>
      </if>
    </div>
	<if condition="$Think.session.user_uid gt 0">
    <div class="modal-body">
        <div class="span6">
        <dl class="invest_bid">
        	<dd class="invest_title">
            {$v.title}
            <if condition="$v.type neq 7">
            <switch name="v.type">
                <case value="0"><i class="mark-ico-color mark-ico-seconds" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="1"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="2"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="3"><i class="mark-ico-color mark-ico-net" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="4"><i class="mark-ico-color mark-ico-letter" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="5"><i class="mark-ico-color mark-ico-bear" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="6"><i class="mark-ico-color mark-ico-group" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <case value="7"><i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i></case>
                <default />无
            </switch>
            </if>
             <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
            <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>
            <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
            <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>
            </dd>
            <dd>年利率：{$v.rates}%&nbsp;&nbsp;&nbsp;&nbsp;
            投标奖励：
            {$v['rewards']?$v['rewards']:'无'}
            </dd>
            <dd>
                最小投标金额：{$v.min_name|number_format=2,'.',','}&nbsp;&nbsp;&nbsp;&nbsp;
                最大投标金额：<if condition="$v.max_name gt 0">{$v.max_name|number_format=2,'.',','}<else/>无限</if>
            </dd>
            <dd>借款金额：<span class="invest_price">{$v.money|number_format=2,'.',','}</span> 元&nbsp;&nbsp;&nbsp;&nbsp;还需：<if condition="$v.state eq 10">{$v.assure|number_format=2,'.',','}<else/>{$v.surplus|number_format=2,'.',','}</if> 元</dd>
        	<dd>可用余额： {$money.available_funds|number_format=2,'.',','} 元&nbsp;&nbsp;&nbsp;&nbsp;
            <if condition="$v.state eq 10">
              可用担保额度： {$userin.assure|number_format=2,'.',','}
              </if>
            </dd>
        	
        </dl>
        </div>
        <div class="span4">
         <if condition="$v.state eq 10">
        <form method="post" action="__URL__/assureUpdate">
        <else/>
        <form method="post" action="__URL__/investUpdate">
        </if>
        <input name="id" type="hidden" value="{$v.id}" />
        <input name="update_uid" type="hidden" value="{$v.uid}" />
        <dl>
            <dd>
            <if condition="$v.state eq 10">
            担保金额：
            <else/>
            投标金额：
            </if>
            	<a class="icon icon-blue icon-minus invest_icon" href="#" onClick="Totalprice(1,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds},{$v.max},{$v.min})"></a>
                <span class="input-prepend input-append">
                	<span class="add-on">$</span>
                	<input id="price" name="price" type="text" value="{$v.min}" class="span1"  onBlur="Totalprice(4,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds},{$v.max},{$v.min})"/>
                    <span class="add-on">.00</span>
                </span>
                <a class="icon icon-blue icon-plus invest_icon" href="#" onClick="Totalprice(2,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds},{$v.max},{$v.min})"></a>
                <a href="#" onClick="Totalprice(3,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds})">最大金额</a>
            </dd>
            <eq name="v.code" value="1">
            <dd>密码标密码：<input type="password" class="span2" name="password"/></dd>
            </eq>
            <dd>支付密码：<input type="password" class="span2" name="pay_password"/></dd>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;验证码：
            <input type="text" class="span1" name="proving"/>
            <img id="verifyImg" src='__APP__/Public/verify/' maxlength="4" onClick="changeVerify()" title="点击刷新验证码" style="cursor:pointer;padding-left: 10px;"/>
            </dd>
            <dd><button type="submit" class="btn btn-primary span2" >确认提交</button></dd>
        </dl>
        </form>
        </div>
    </div>
    <else/>
    <div class="invest_login">只有<a href="__ROOT__/Logo/register.html">注册</a>用户才可以查看个人信息！现在<a href="__ROOT__/Logo/login.html">登录</a></div>
    </if>
</if>
</volist>
</div>
<include file="Index:footer" />