<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="row-fluid index">
    <div class="loan_top  span12">
    <volist name="borrow" id="v">
        <div id="loan_cont" class="loan_cont">
            <dl>
            <if condition="$v.type eq 7">
            <!-- 流转标 -->
            	<dt>{$v.title}
                	<i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i>
                    <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
                    <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>
                    <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
                    <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>                </dt>
<dd>流转金额：<span class="invest_price">{$v.money}</span> 元</dd>
                	<dd>原年利率：{$v.rates}%&nbsp;&nbsp;&nbsp;&nbsp;
                    投标奖励：
                    {$v.rewards}
                    </dd>
                    <dd>原借款期限：{$v.deadlines}&nbsp;&nbsp;&nbsp;&nbsp;
                        流转期限：{$v.flow_deadlines}</dd>
                    <dd>原还款方式：{$v.way}</dd>
                    <dd>
                        每份认购金额：{$v.min_name} &nbsp;&nbsp;&nbsp;&nbsp;
                        最低认购期限：{$v.min_limits}
                    </dd>
                    <dd>审核时间：{$v.checktime|date="Y-m-d H:i:s",###}</dd>
                    <dd>还可认购：{$v.subscribe} 份&nbsp;&nbsp;&nbsp;&nbsp;已回购：{$v.repos}份</dd>
                    <dd>正在流转：{$v.flows} 份</dd> 
                    <dd>已完成：{$v.flow_ratio}%
                    <div class="progress invest_plan">
                      <div class="bar" style="width: {$v.flow_ratio}%"></div>
                    </div>
                    </dd>
            <!-- 流转标 end-->
            <else/>      
            	<dt>{$v.title}
                <switch name="v.type">
                        <case value="0"><i class="mark-ico-color mark-ico-seconds" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="1"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="2"><i class="mark-ico-color mark-ico-bet" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="3"><i class="mark-ico-color mark-ico-net" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="4"><i class="mark-ico-color mark-ico-letter" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="5"><i class="mark-ico-color mark-ico-bear" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="6"><i class="mark-ico-color mark-ico-group" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <case value="7"><i class="mark-ico-color mark-ico-flow" data-rel="tooltip" title="{$v.type_name}"></i></case>
                        <default />无
                    </switch>
                    <eq name="v.candra" value="1"><i class="mark-ico-color mark-ico-day" data-rel="tooltip" title="天标"></i></eq>
                    <gt name="v.reward_type" value="0"><i class="mark-ico-color mark-ico-prize" data-rel="tooltip" title="{$v.rewards}"></i></gt>
                    <eq name="v.stick" value="1"><i class="mark-ico-color mark-ico-push" data-rel="tooltip" title="推荐标"></i></eq>
                    <eq name="v.code" value="1"><i class="icon icon-color icon-locked" data-rel="tooltip" title="密码标"></i></eq>
                </dt>
                <dd>借入金额：<span class="invest_price">{$v.money}</span> 元 </dd>
                <dd>年利率{$v.rates}%&nbsp;&nbsp;&nbsp;&nbsp;
                投标奖励：                       
                {$v.rewards}
                </dd>
                <dd>借入期限：
               {$v.deadlines}
                </dd>
                <dd>还款方式：
               {$v.way}
                </dd>
                <dd>
                    最小投标金额：{$v.min_name} &nbsp;&nbsp;&nbsp;&nbsp;
                    最大投标金额：{$v.max_name}
                </dd>
               <dd>审核时间：{$v.checktime|date="Y-m-d H:i:s",###}</dd>
                    <if condition="$v.limittime gt 0">
                    <dd>还款时间：{$v.limittime|date="Y-m-d H:i:s",###}</dd>
                    </if>
                    <if condition="($v.state eq 7) OR ($v.state eq 8) OR ($v.state eq 9) ">
                    <dd>距还款时间还需：<span id="limittimes" endtime="{$v.limittime|date="Y/m/d H:i:s",###}"></span></dd>
                    <else />
                    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余：<span id="limittimes" endtime="{$v.endtime|date="Y/m/d H:i:s",###}"></span></dd>
                    </if>
                    <if condition="$v.state eq 10">
                    <dd>还需：{$v.assure}元&nbsp;&nbsp;&nbsp;&nbsp;已投：{$v.alreadys}元</dd>
                    <else/>
                    <dd>还需：{$v.surplus}元&nbsp;&nbsp;&nbsp;&nbsp;已投：{$v.already}元</dd>
                    </if>
                    <dd>总投标数：{$v.bid_records_count} 笔</dd> 
                    <if condition="$v.type eq 5">  
                    <dd>总担保数：{$v.assure_records_count} 笔</dd>
                    </if>
                    <if condition="$v.state eq 10">    
                    <dd>已担保：{$v.ratios}%
                    <div class="progress invest_plan">
                      <div class="bar" style="width: {$v.ratios}%"></div>
                    </div>
                    </dd>
                    <else/>
                    <dd>已完成：{$v.ratio}%
                    <div class="progress invest_plan">
                      <div class="bar" style="width: {$v.ratio}%"></div>
                    </div>
                    </dd>
                    </if>
           </if>         
                    
                    
                    
                <if condition="$v.type eq 7">
                <!-- 流转标 -->
                <div class="modal-header">
                  <h3>认购确认</h3>
                </div>
                <form method="post" action="__URL__/flowUpdate">
                <input name="id" type="hidden" value="{$v.id}" />
                <input name="update_uid" type="hidden" value="{$v.uid}" />
                <dd>
            认购份数：
            	<a class="icon icon-blue icon-minus invest_icon" href="#" onClick="Totalprice(1,{$v.subscribe},{$money.available_funds},{$v.min})"></a>
                <span class="input-append" style="width:100px;">
                	<input id="price" name="copies" type="text" value="1" class="span5"  onBlur="Totalprice(4,{$v.subscribe},{$money.available_funds},{$v.min})"/>
                    <span class="add-on">份</span>
                </span>
                <a class="icon icon-blue icon-plus invest_icon" href="#" onClick="Totalprice(2,{$v.subscribe},{$money.available_funds},{$v.min})"></a>
                <a href="#" onClick="Totalprice(3,{$v.subscribe},{$money.available_funds},{$v.min})">最大份数</a>
            </dd>
            <dd>
            认购期限：
            	<a class="icon icon-blue icon-minus invest_icon" href="#" onClick="Totalmonth(1,{$v.min_limit},{$v.flow_deadline})"></a>
                <span class="input-append" style="width:100px;">
                	<input id="month" name="deadline" type="text" value="{$v.min_limit}" class="span5"  onBlur="Totalmonth(4,{$v.min_limit},{$v.flow_deadline})"/>
                    <span class="add-on"><if condition="$v.candra eq 0">月<else/>天</if></span>
                </span>
                <a class="icon icon-blue icon-plus invest_icon" href="#" onClick="Totalmonth(2,{$v.min_limit},{$v.flow_deadline})"></a>
                <a href="#" onClick="Totalmonth(3,{$v.min_limit},{$v.flow_deadline})">最大期限</a>
            </dd>
                <eq name="v.code" value="1">
                <dd>密码标密码：<input type="password" class="span5" name="password"/></dd>
                </eq>
                <dd>支付密码：<input type="password" class="span5" name="pay_password"/></dd>
                <dd>&nbsp;&nbsp;&nbsp;&nbsp;验证码：
                <input type="text" class="span2" name="proving"/>
                <img id="verifyImg" src='__APP__/Public/verify/' onClick="changeVerify()" title="点击刷新验证码" style="cursor:pointer;padding-left: 10px;"/>
                </dd>
                <!-- 流转标 end -->
                <else/>
                <if condition="$v.state eq 10">
        <form method="post" action="__URL__/assureUpdate">
        <else/>
        <form method="post" action="__URL__/investUpdate">
        </if>
        <input name="id" type="hidden" value="{$v.id}" />
        <input name="update_uid" type="hidden" value="{$v.uid}" />
                <div class="modal-header">
                  <if condition="$v.state eq 10">
                  <h3>担保确认</h3>
                  <else/>
                  <h3>投标确认</h3>
                  </if>
                </div>
                <if condition="$v.state eq 10">
                担保金额：
                <else/>
                投标金额：
                </if>
                    <a class="icon icon-blue icon-minus invest_icon" href="#" onClick="Totalprice(1,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds},{$v.max},{$v.min})"></a>
                    <span class="input-prepend input-append" style="width:100px;">
                        <span class="add-on">$</span>
                        <input id="price" name="price" type="text" value="{$v.min}" class="span5"  onBlur="Totalprice(4,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds},{$v.max},{$v.min})"/>
                        <span class="add-on">.00</span>
                    </span>
                    <a class="icon icon-blue icon-plus invest_icon" href="#" onClick="Totalprice(2,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds},{$v.max},{$v.min})"></a>
                    <a href="#" onClick="Totalprice(3,<if condition="$v.state eq 10">{$v.assure}<else/>{$v.surplus}</if>,{$money.available_funds})">最大金额</a>
                </dd>
                <eq name="v.code" value="1">
                <dd>密码标密码：<input type="password" class="span5" name="password"/></dd>
                </eq>
                <dd>支付密码：<input type="password" class="span5" name="pay_password"/></dd>
                <dd>&nbsp;&nbsp;&nbsp;&nbsp;验证码：
                <input type="text" class="span2" name="proving"/>
                <img id="verifyImg" src='__APP__/Public/verify/' onClick="changeVerify()" title="点击刷新验证码" style="cursor:pointer;padding-left: 10px;"/>
                </dd>
                </if>    
                 
                <dd>
                <if condition="($v.state eq 1)  OR  ($v.state eq 10)">
                    <dd><button type="submit" class="btn btn-primary invest_btn" >{$v.state_names}</button></dd>
                    <else />
                    <dd><a class="btn invest_btn" data-rel="tooltip" >{$v.state_names}</a></dd>
                    </if>
                </dd>
                <dd>
                <p class="breadcrumb"><a>投标详情</a></p>
                {$v.content}
                </dd>
                <dd>
                <p class="breadcrumb"><a>投标记录</a></p>
                <table class="table table-striped">
                <if condition="$v.type eq 7">
                	<thead>
                      <tr>
                            <th>ID</th>
                            <th>投标人</th>
                            <th>年利率</th>
                            <th>投标金额</th>
                            <th>投标时间</th>
                      </tr>
                    <thead>
                    <foreach name="v.flow_records" item="vo">
                    	<tr>
                        	<td>{$key+1}</td>
                            <td>{$vo.actionname.uname}</td>
                            <td>{$v.rates}%</td>
                            <td>{$vo.actionname.operation}元</td>
                            <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                        </tr>
                    </foreach>
                    
                <elseif condition="$v.type eq 5"/>
                    <thead>
                      <tr>
                            <th>ID</th>
                            <th>担保投标人</th>
                            <th>年利率</th>
                            <th>担保金额</th>
                            <th>担保时间</th>
                      </tr>
                    <thead>
                    <foreach name="v.assure_records" item="vo">
                    	<tr>
                        	<td>{$key+1}</td>
                            <td>{$vo.actionname.uname}</td>
                            <td>{$v.rates}%</td>
                            <td>{$vo.actionname.operation}元</td>
                            <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                        </tr>
                    </foreach>
                 <else />
                    <thead>
                      <tr>
                            <th>ID</th>
                            <th>投标人</th>
                            <th>年利率</th>
                            <th>投标金额</th>
                            <th>投标时间</th>
                      </tr>
                    <thead>
                    <foreach name="v.bid_records" item="vo">
                    	<tr>
                        	<td>{$key+1}</td>
                            <td>{$vo.actionname.uname}</td>
                            <td>{$v.rates}%</td>
                            <td>{$vo.actionname.operation}元</td>
                            <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                        </tr>
                    </foreach>
                 </if>
                    <tbody>
                    </tbody>
                </table>
                </dd>
           		</form>
            </dl>
         </div>
    </div>
    </volist>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />