<include file="Index:header" />

<!--顶 end -->
<!--头 start-->
<div class="header blankheader">
    <div class="leftback">
        <a class="back" href="javascript:history.back(-1);"></a>
    </div>
        <div class="redtitle cheader">借款协议</div>
</div>
<!--头 end-->
    <style>
	.export{width:100%;text-align: right;}
	.export a{
	color: #FFF;
	background-color: #F90;
	border: 1px solid #CCC;
	text-decoration: none;
	position: absolute;
	right: 100px;
	top: 20px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
p{line-height: 25px;}
	</style>

 <!-- navbar end -->
<!--头部 end -->
<!-- container start --> 
<div class="content">
<div  style="margin-right: 10px;margin-left: 10px;">
<br/>
<p>合同编号:<b>{$s.sys_agreement}-{$Think.get.bid}</b></p>
<P>本借款协议("本协议")以项目实际成交时间为签订日期</P>
<p><b>甲方(借款人): </b><u>{$userin.name}</u></p>
<p><b>用户名:</b><u>{$userin.username}</u></p>
<p><b>身份证:</b><u>{$userin.idcard}</u></p>
<p>乙方(出借人):</p>
<table  width="100%" border="1" class="table table-bordered">
	<thead>
    <tr>
      <th>类型</th>
      <th>用户名</th>
      <th>出借金额</th>
      <th>全部应收</th>
    </tr>
  </thead>
  <tbody>
  <volist name="bid" id="vo">
    <tr>
      <td>直接投标</td>
      <td>{$vo.username}</td>
      <td>{$vo.total|number_format=2,'.',','}</td>
      <td>{$vo.totals|number_format=2,'.',','}</td>
    </tr>
  </volist>
  </tbody>
</table>
<p><b>丙方(平台服务商):</b><u>{$s.sys_company}</u></p>
<p><b>住所:</b><u>{$s.sys_officeAddress}</u></p>
<h4>一、 借款金额及还款计划</h4>
<p>甲方同意通过{$s.sys_bargainName}平台向乙方借款如下，乙方同意通过{$s.sys_bargainName}平台向甲方发放该等借款： </p>
<table   width="100%" border="1" class="table table-bordered">
  <tbody>
    <tr>
      <th>借款用途</th>
      <td>{$boow.use}</td>
   </tr>
   <tr>
      <th>借款本金数额</th>
      <td>{$boow.money|number_format=2,'.',','}</td>
   </tr>
   <tr>
      <th>借款年化利率</th>
      <td>{$boow.rates}% </td>
   </tr>
   <tr>
      <th>月还本息数额 </th>
      <td>详情见还款计划 </td>
   </tr>
   <tr>
      <th>借款时间</th>
      <td>{$boow.deadlines}</td>
   </tr>
   <tr>
      <th>借款到期日 </th>
      <td>甲方应当在借款到期内还款 </td>
   </tr>
   <tr>
      <th>还款起止日期 </th>
      <td>详情见还款计划  </td>
   </tr>
  </tbody>
</table>
<p>还款计划：</p>
<table  width="100%" border="1" class="table table-bordered">
	<thead>
    <tr>
      <th>期数</th>
      <th>还款金额</th>
      <th>还款时间</th>
    </tr>
  </thead>
  <tbody>
    <volist name="refun" id="vo">
    <tr>
      <td>{$vo.nper}</td>
      <td>{$vo.money|number_format=2,'.',','}</td>
      <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
    </tr>
  </volist>
  </tbody>
</table>
<h4>二、 各方权利和义务 </h4>
<b>甲方的权利和义务</b>
<p>
2.1 甲方必须按期足额向乙方偿还本金和利息。<br />
2.2 甲方必须按期足额向丙方支付借款管理费用。<br />
2.3 甲方承诺所借款项不用于任何违法用途。 <br />
2.4 甲方应确保其提供的信息和资料的真实性，不得提供虚假信息或隐瞒重要事实。 <br />
2.5 甲方有权了解其在丙方的信用评审进度及结果。<br />
2.6 甲方不得将本协议项下的任何权利义务转让给任何其他方。
</p>
<b>乙方权利和义务</b>
<p>
2.1 乙方应按合同约定的借款期限起始日期将足额的借款本金支付给甲方。 <br/>
2.2 乙方享有其所出借款项所带来的利息收益。<br/> 
2.3 如甲方违约，乙方有权要求丙方提供其已获得的甲方信息，丙方应当提供。<br/>
2.4 无须通知甲方，乙方可以根据自己的意愿进行本协议下其对甲方债权的转让。在乙方的债权转让后，甲方需对债权受让人继续履行本协议下其对乙方的还款义务，不得以未接到债权转让通知为由拒绝履行还款义务。 <br/>
2.5 乙方应主动缴纳由利息所得带来的可能的税费。<br />
2.6 如甲方实际还款金额少于本协议约定的本金、利息及违约金的，乙方各出借人同意各自按照其于本协议文首约定的借款比例收取还款。 <br />
2.7 乙方应确保其提供信息和资料的真实性，不得提供虚假信息或隐瞒重要事实。
</p>
<b>丙方的权利和义务</b>
<p>
2.1 乙方授权并委托丙方代其收取本协议文首所约定的出借人每月应收本息，代收后按照乙方的要求进行处置，甲方对此表示认可。 <br />
2.2 甲方授权并委托丙方将其支付的出借本金直接划付至乙方账户，乙方对此表示认可。 <br />
2.3 甲、乙双方一致同意，在有必要时，丙方有权代乙方对甲方进行关于本协议借款的违约提醒及催收工作，包括但不限于：电话通知、上门催收提醒、发律师函、对甲方提起诉讼等。乙方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给本协议外的其他方进行。甲方对前述委托的提醒、催收事项已明确知晓并应积极配合。<br />
2.4 丙方有权按月向乙方收取双方约定的借款管理费，并在有必要时对甲方进行违约提醒及催收工作，包括但不限于电话通知、发律师函、对甲方提起诉讼等。丙方有权将此违约提醒及催收工作委托给本协议外的其他方进行。 <br />
2.5 丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。 <br />
2.6 丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露。 <br />
2.7 丙方根据本协议对甲方进行违约提醒及催收工作时，可在其认为必要时进行上门催收提醒，即丙方派出人员（至少2名）至甲方披露的住所地或经常居住地（联系地址）处催收和进行违约提醒，同时向甲方发送催收通知单，甲方应当签收，甲方不签收的，不影响上门催收提醒的进行。丙方采取上门催收提醒的，甲方应当向丙方支付上门提醒费用，收费标准为每次人民币1000.00元，此外，甲方还应向丙方支付进行上门催收提醒服务的差旅费（包括但不限于交通费、食宿费等）。 
</p>
<h4>三、 借款管理费</h4>
<p>
3.1 在本协议中，"借款管理费"是指因丙方为乙方提供信用咨询、评估、还款提醒、账户管理、还款特殊情况沟通、本金保障等系列信用相关服务（统称"信用服务"）而由乙方支付给丙方的报酬。 
</p>
<h4>四、 违约责任</h4>
<p>
4.1 协议各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。 <br />
4.2 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等，应由违约方承担。如违约方为甲方的，乙方有权立即解除本协议，并要求甲方立即偿还未偿还的本金、利息、罚息、违约金。此时，甲方还应向丙方支付所有应付的借款管理费。如本协议提前解除时，甲方在本网站的账户里有任何余款的，丙方有权按照本协议第四条第3项的清偿顺序将甲方的余款用于清偿，并要求甲方支付因此产生的相关费用。<br />
4.3 甲方应严格履行还款义务，如甲方逾期还款，则应按照下述条款向丙方支付逾期管理费：<br />
逾期管理费总额 = 逾期本息总额×对应逾期管理费率×逾期天数； <br />  
<table  width="100%" border="1" class="table table-bordered">
  <tbody>
    <tr>
      <th>逾期天数</th>
      <td>1-30</td>
      <td>30天以上</td>
   </tr>
   <tr>
      <th>逾期管理费费率</th>
      <td>{$s['sys_overdue']*1000}‰</td>
      <td>{$s['sys_overdues']*1000}‰</td>
   </tr>
  </tbody>
</table>
<br />
4.5 如果甲方逾期支付任何一期还款超过天，或甲方在逾期后出现逃避、拒绝沟通或拒绝承认欠款事实等恶意行为，本协议项下的全部借款本息及借款管理费均提前到期，甲方应立即清偿本协议下尚未偿付的全部本金、利息、罚息、借款管理费及根据本协议产生的其他全部费用。 <br />
4.6 如果甲方逾期支付任何一期还款超过天，或甲方在逾期后出现逃避、拒绝沟通或拒绝承认欠款事实等恶意行为，丙方有权将甲方的"逾期记录"记入人民银行公民征信系统，丙方不承担任何法律责任。 <br />
4.7 如果甲方逾期支付任何一期还款超过天，或甲方在逾期后出现逃避、拒绝沟通或拒绝承认欠款事实等恶意行为，丙方有权将甲方违约失信的相关信息及甲方其他信息向媒体、用人单位、公安机关、检查机关、法律机关披露，丙方不承担任何责任。 <br />
4.8 在甲方还清全部本金、利息、借款管理费、罚息、逾期管理费之前，罚息及逾期管理费的计算不停止。 <br />
4.9 本协议中的所有甲方与乙方之间的借款均是相互独立的，一旦甲方逾期未归还借款本息，乙方中的任何一个出借人均有权单独向甲方追索或者提起诉讼。如甲方逾期支付借款管理费或提供虚假信息的，丙方亦可单独向甲方追索或者提起诉讼。
</p>
<br />
<h4>五、 法律及争议解决 </h4>
<p>
本协议的签订、履行、终止、解释均适用中华人民共和国法律，并由丙方所在地人民法院管辖。 
</p>
<h4>六、 附则</h4>
<p>
7.1 本协议采用电子文本形式制成，并永久保存在丙方为此设立的专用服务器上备查，各方均认可该形式的协议效力。<br />
7.2 本协议自文本最终生成之日生效。 <br />
7.3 本协议签订之日起至借款全部清偿之日止，乙方或甲方有义务在下列信息变更三日内提供更新后的信息给丙方：本人、本人的家庭联系人及紧急联系人、工作单位、居住地址、住所电话、手机号码、电子邮箱、银行账户的变更。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。 <br />
7.4 如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。 <br /> 
</p>
</div>
</div>
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />