<include file="Index:header" />

<!--顶 end -->
<!--头 start-->
<div class="header blankheader">
    <div class="leftback">
        <a class="back" href="javascript:history.back(-1);"></a>
    </div>
        <div class="redtitle cheader">联系我们</div>
</div>
<!--头 end-->
<div class="content connectus">
    <dl>
        <dt>联系方式</dt>
        <dd>公司名称：{$s.sys_company}</dd>
        <dd>联系地址：{$s.sys_address}</dd>
        <dd>客服电话：<a href="tel:{$s.sys_phone}">{$s.sys_phone}</a></dd>
        <dd>服务邮箱：{$s.sys_email}</dd>
    </dl>
    <dl>
 </dl>
</div>
<!--底部  start-->
<include file="Index:footer" />