<include file="Index:header" />
<!--头部 end -->
<!--主体 -->
<!-- container start --> 
<div class="row-fluid paddtop index">
    <div class="loan_top  span12">
    	<form class="form-horizontal counter">
                <div class="input-prepend input-append">
                    <span class="add-on">借款金额：</span><input class="input-large span10" name="money" type="text" placeholder="请输入借款金额..." /><span class="add-on">元</span>
                </div>
                <div class="clearfix"></div>

                <div class="input-prepend input-append">
                    <span class="add-on">年&nbsp;&nbsp;利&nbsp;率：</span><input class="input-large span10" name="rate" type="text" placeholder="请输入年利率..." /><span class="add-on">%</span>
                </div>
                <div class="clearfix"></div>
                
                <div  class="input-prepend">
                <span class="add-on">统计单位：</span>
                <label class="checkbox inline counter_check">
                    <input name="unit" type="radio" value="0" checked onclick="switchover(1);">
                    按月
                </label>
                <label class="checkbox inline counter_check">
                    <input name="unit" type="radio" value="1" onclick="switchover(2);">
                    按天
                </label>
                </div>
                <div class="clearfix"></div>
                <div class="input-prepend">
                    <span class="add-on">借款期限：</span>
                    <select class="span12" id="deadline" name="deadline">
           			<option value='1' >1个月</option>
                    <option value='2' >2个月</option>
                    <option value='3' >3个月</option>
                    <option value='4' >4个月</option>
                    <option value='5' >5个月</option>
                    <option value='6' >6个月</option>
                    <option value='7' >7个月</option>
                    <option value='8' >8个月</option>
                    <option value='9' >9个月</option>
                    <option value='10' >10个月</option>
                    <option value='11' >11个月</option>
                    <option value='12' >12个月</option>
                    </select>
                    <select class="span12"  id="deadline1" style="display: none;">
                    <option value='1' >1天</option>
                    <option value='2' >2天</option>
                    <option value='3' >3天</option>
                    <option value='4' >4天</option>
                    <option value='5' >5天</option>
                    <option value='6' >6天</option>
                    <option value='7' >7天</option>
                    <option value='8' >8天</option>
                    <option value='9' >9天</option>
                    <option value='10' >10天</option>
                    <option value='11' >11天</option>
                    <option value='12' >12天</option>
                    <option value='13' >13天</option>
                    <option value='14' >14天</option>
                    <option value='15' >15天</option>
                    <option value='16' >16天</option>
                    <option value='17' >17天</option>
                    <option value='18' >18天</option>
                    <option value='19' >19天</option>
                    <option value='20' >20天</option>
                    <option value='21' >21天</option>
                    <option value='22' >22天</option>
                    <option value='23' >23天</option>
                    <option value='24' >24天</option>
                    <option value='25' >25天</option>
                    <option value='26' >26天</option>
                    <option value='27' >27天</option>
                    <option value='28' >28天</option>
                    <option value='29' >29天</option>
                    <option value='30' >30天</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                
                <div class="input-prepend">
                    <span class="add-on">还款方式：</span>
                    <select name="way" class="span12">
                    <option value='0' >月付息到期还本</option>
           			<option value='1' >按月还本息</option>
                    <option value='2' >等额本金</option>
                    <option value='3' >等额本息</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                <p class="center">
                <a class="btn btn-primary span10" onclick="counterOclick()">开始计算</a>
                </p>
        </form>
        <h3 class="counter_result">
          计算结果
        </h3>
        <div  id="sounter_result">
        <div class="couter_total">

        </div>
        </div>
    </div>
</div>
<!-- container end -->
<!--底部 -->
<include file="Index:footer" />
<!--底部 end-->
