 </div>
 <!-- Footer
    ================================================== -->
    <div class="hfooter row-fluid">
      
        <p class="foot">
        <span class="span11 text-center">服务热线：13081971646 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=602132284&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:602132284:52" alt="点击这里给我发消息" title="点击这里给我发消息"/></a> 602132284</span>
        <span class="span11 text-center">版权所有：浙江省宁波天发网络科技有限公司</span>
        </p>
        {$Think.config.DS_POWERED}
    </div>
<!-- external javascript
	================================================== -->
    <!-- jQuery UI -->
	<script src="__PUBLIC__/bootstrap/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/jquery.ui.datepicker-zh-CN.js"></script>
    <!-- 城市 -->
    <script src="__PUBLIC__/js/region.js"></script>
	<script src="__PUBLIC__/js/jq_area.js"></script>
    <!-- 木马轮播插件-->
    <script src="__PUBLIC__/js/fotorama.js"></script>
    <!-- 首页宽屏轮播-->
	<script src="__PUBLIC__/js/jquery.kinMaxShow-1.1.min.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-ie.js"></script>
    <![endif]-->
    <!-- 文字滚动-->
    <script src='__PUBLIC__/js/textSlider.js'></script>
	<!-- bootstrap-->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<!-- library for cookie management -->
	<script src="__PUBLIC__/bootstrap/js/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<script src='__PUBLIC__/bootstrap/js/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='__PUBLIC__/bootstrap/js/jquery.dataTables.min.js'></script>

	<!-- chart libraries start -->
	<script src="__PUBLIC__/bootstrap/js/excanvas.js"></script>
	<script src="__PUBLIC__/bootstrap/js/jquery.flot.min.js"></script>
	<script src="__PUBLIC__/bootstrap/js/jquery.flot.pie.min.js"></script>
	<script src="__PUBLIC__/bootstrap/js/jquery.flot.stack.js"></script>
	<script src="__PUBLIC__/bootstrap/js/jquery.flot.resize.min.js"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="__PUBLIC__/bootstrap/js/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="__PUBLIC__/bootstrap/js/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="__PUBLIC__/bootstrap/js/jquery.colorbox.min.js"></script>
    <!-- editor -->
	<script src="__PUBLIC__/editor/kindeditor-min.js"></script>
	<!-- rich text editor library -->
	<script src="__PUBLIC__/bootstrap/js/jquery.cleditor.min.js"></script>
	<!-- notification plugin -->
	<script src="__PUBLIC__/bootstrap/js/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="__PUBLIC__/bootstrap/js/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="__PUBLIC__/bootstrap/js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="__PUBLIC__/bootstrap/js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="__PUBLIC__/bootstrap/js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script src="__PUBLIC__/bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="__PUBLIC__/bootstrap/js/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="__PUBLIC__/bootstrap/js/charisma.js"></script>
    
<script>
{$endjs}
</script>
</body>
</html>