<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop">
<!-- left start-->
<include file="left" />
<!-- left end-->
    <!-- right start-->
    <div id="content" class="center_right span10">
<volist name="user_details" id="vo">
      	<switch name="mid" >
            <case value="autonym">
            <!--实名认证 start-->
            <form method="post"  action='__URL__/upda'>
            <input name="q" type="hidden" value="ufo" />
            <input name="u" type="hidden" value="__ROOT__/Center/approve/autonym.html" />
            <input name="n" type="hidden" value="实名认证申请" />
            <input name="g" type="hidden" value="uid" />
            <input name="sid" type="hidden" value="{$Think.session.user_uid}" />
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">实名认证</li>
                </ul>
                <if condition="$certification eq 0">
                <input name="certification" type="hidden" value="1"/>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>真实姓名：</td>
                            <td><input name="name" type="text" class="span2"/></td>
                         </tr>
                         <tr>
                            <td>性别：</td>
                            <td class="form-inline">
                            	<label class="radio"><input type="radio" name="gender" value="0" checked/> 男</label>
                                <label class="radio"><input type="radio" name="gender" value="1" /> 女</label>
                            </td>
                         </tr>
                         <tr>
                            <td>民族：</td>
                            <td>
                            	<select name="national" style="width:100px;">   
                                        <volist name="list" id="vo">
                                        <option value='{$vo.value}' >{$vo.name}</option>
                                        </volist>
                                </select>
                            </td>
                         </tr>
                         <tr>
                            <td>出生日期：</td>
                            <td>
                            <input type="text" id="from" name="born" class="input-xlarge" datatype="time"/>
                            <br /><span class="alert alert-info span4" style="margin-left: 0px;">
                                <a class="close" data-dismiss="alert">×</a>
                                <p>选择出生年份小窍门：<br />
                                	选择最靠近自己的年份，然后再选择，直到选中自己出生年份。<br />
                                    也可手动进行修改.
                                </p>
                            </span>
                            </td>
                         </tr>
                         <tr>
                            <td>身份证：</td>
                            <td><input name="idcard" type="text" /></td>
                         </tr>
                         <tr>
                            <td>籍贯：</td>
                            <td  class="form-inline" id="area">
									省份 <select id="province"  name="native_place[]" style="width:100px;"></select> 城市 <select id="city" style="width:110px;"  name="native_place[]"></select>	区/县 <select id="county"  style="width:140px;" name="native_place[]"></select>
                            </td>
                         </tr>
                         <tr>
                            <td>身份证正/反面上传：</td>
                            <td>
                                <input id="img" name="idcard_img" type="hidden" value="{$ed.img}"/>
                                <input id="folder" type="hidden" value="idcard"/>
                                <input data-no-uniform="true" type="file" name="file_upload" id="file_uploads" />
                            </td>
                         </tr>
                    </tbody>
                </table>
                <div class="alert alert-info span10">
                    <a class="close" data-dismiss="alert">×</a>
                    <p>请上传正面+反面身份证照片，以方便通过审核。</p>
                </div>
                 <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
                 <elseif condition="$certification eq 1"/>
                <div class="alert alert-info span10">
                    <a class="close" data-dismiss="alert">×</a>
                    <p>实名认证已提交，审核时间为1-3个工作日，请耐心等待。</p>
                </div>
                <else />
                <table class="table">
                    <tbody>
                        <tr>
                            <td>用户名：</td>
                            <td>{$vo.username}</td>
                        </tr>
                        <tr>
                            <td>真实姓名：</td>
                            <td>{$vo.name}</td>
                        </tr>
                        <tr>
                            <td>性别：</td>
                            <td>{$vo.gender}</td>
                        </tr>
                        <tr>
                            <td>民族：</td>
                            <td>{$vo.national}</td>
                        </tr>
                        <tr>
                            <td>出生日期：</td>
                            <td>{$vo.born|date="Y-m-d",###}</td>
                        </tr>
                        <tr>
                            <td>身份证：</td>
                            <td>{$vo.idcard|substr=0,13}*****</td>
                        </tr>
                        <tr>
                            <td>籍贯：</td>
                            <td>{$vo.native_place}</td>
                        </tr>
                    </tbody>
                </table>	
                </if>
            <!--实名认证 end-->
            </case>
            <case value="email">
            <!--邮箱认证 start-->
            <form method="post"  action='__URL__/emailVerify'>
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">邮箱认证</li>
                </ul>
                <if condition="$vo.email_audit eq 2 ">
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您的邮箱已激活{$vo.email}</p>
                </div>
                <else />
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您的邮箱还没有通过认证{$vo.email}</p>
                </div>
                <table class="table">
                    <tbody>
                        <tr class="span12">
                            <td class="span1">邮箱：</td>
                            <td class="span2"><input name="email" type="text" value="{$vo.email}"/></td>
                            <td class="span6">
                            	<button class="btn btn-primary" type="submit">发送验证</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </if>
            <!--邮箱认证 end-->
            </case>
            <case value="cellphone">
            <!--手机认证 start-->
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">手机认证</li>
                </ul>
                <if condition="$vo.cellphone_audit eq 2 ">
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您的手机已通过认证。{$vo.cellphone}</p>
                </div>
                <elseif condition="$vo.cellphone_audit eq 1 "/>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>手机认证已提交，我们的工作人员会及时联系您的。{$vo.cellphone}</p>
                </div>
                <else/>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您的手机还没通过认证。</p>
                </div>
                <table class="table">
                    <tbody>
                    <if condition="$systemms.sys_appphone eq 1">
                        <tr>
                            <td class="span2">手机号码：</td>
                            <td class="span2"><input name="cellphone" maxlength="11" class="span2"  type="text" value="{$vo.cellphone}"/></td>
                            <td><a href="#" class="btn btn-primary">发送验证</a></td>
                        </tr>
                        <tr>
                            <td>手机验证码：</td>
                            <td><input name="title" type="text" class="span1"/></td>
                            <td></td>
                        </tr>
                    <else/>
                    <form method="post"  action='__URL__/appphone'>
                    	<tr>
                            <td class="span2">手机号码：</td>
                            <td class="span2"><input name="cellphone" maxlength="11" class="span2"  type="text" value="{$vo.cellphone}"/></td>
                            <td><button type="submit" class="btn btn-primary">提交</button></td>
                        </tr>
                    </if>
                    </tbody>
                </table>
                </if>
            <!--手机认证 end-->
            </case>
            <case value="video">
            <!--视频认证 start-->
            <form method="post"  action='__URL__/upda'>
            <input name="q" type="hidden" value="ufo" />
            <input name="u" type="hidden" value="__URL__/approve/video" />
            <input name="n" type="hidden" value="视频认证申请" />
            <input name="g" type="hidden" value="uid" />
            <input name="sid" type="hidden" value="{$Think.session.user_uid}" />
            <input name="video_audit" type="hidden" value="1" />
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">视频认证</li>
                </ul>
                <if condition="$vo.video_audit eq 2 ">
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您已通过视频认证。</p>
                </div>
                <elseif condition="$vo.video_audit eq 1 "/>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>视频认证已申请，工作人员将在1-5个工作日联系您进行认证。</p>
                </div>
                <else/>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您还没通过视频认证。请申请认证，我们的客服会联系您，请耐心等待</p>
                </div>
                <table class="table">
                    <tbody>
                        <tr class="span12">
                            <td class="span2">
                            	<button class="btn btn-primary" type="submit">申请认证</button>
                            </td>
                            <td class="span8">
                            </td>
                        </tr>
                    </tbody>
                </table>
                </if>
            <!--视频认证 end-->
            </case>
            <case value="scene">
            <!--现场认证 start-->
            <form method="post"  action='__URL__/upda'>
            <input name="q" type="hidden" value="ufo" />
            <input name="u" type="hidden" value="__ROOT__/Center/approve/scene.html" />
            <input name="n" type="hidden" value="现场认证申请" />
            <input name="g" type="hidden" value="uid" />
            <input name="sid" type="hidden" value="{$Think.session.user_uid}" />
            <input name="site_audit" type="hidden" value="1" />
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">现场认证</li>
                </ul>
                <if condition="$vo.site_audit eq 2 ">
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您已通过现场认证。</p>
                </div>
                <elseif condition="$vo.site_audit eq 1 "/>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>现场认证已申请，工作人员将在1-5个工作日联系您，请耐心等待。</p>
                </div>
                <else/>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您还没通过现场认证。请申请认证，我们的客服会联系您并安排现场认证</p>
                </div>
                <table class="table">
                    <tbody>
                        <tr class="span12">
                            <td class="span2">
                            	<button class="btn btn-primary" type="submit">申请认证</button>
                            </td>
                            <td class="span8">
                            </td>
                        </tr>
                    </tbody>
                </table>
                </if>
            <!--现场认证 end-->
            </case>
            <case value="Wechat">
            <!--微信认证 start-->
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">微信认证</li>
                </ul>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>您还没有通过微信认证。请先关注本平台微信,发送"wrz"将收到的验证码填入文本框</p>
                </div>
                <table class="table">
                    <tbody>
						<tr>
                            <td>验证码：</td>
                            <td><input name="title" type="text" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
            <!--微信认证 end-->
            </case>
            <case value="vip">
            <!--VIP start-->
                <form method="post"  action='__URL__/updaVip'>
                <ul class="breadcrumb">
                    <li>
                    <a href="#">认证中心</a> <span class="divider">/</span>
                    </li>
                    <li class="active">VIP</li>
                </ul>
                <if condition="$vip_points eq 0">
                <table class="table">
                    <tbody>
                         <tr>
                            <td>付费模式：</td>
                            <td class="approve_vip">
                            	<a id="vip_1" class="hove" href="#" onclick="vipmod(1)">按月付费</a>
                                <a id="vip_2" href="#" onclick="vipmod(2)">按年付费</a>
                            </td>
                         </tr>
                         <tr>
                            <td>开通时长：</td>
                            <td>
                            <input type="text" name="length" id="length" class="span1" value="1" onkeyup="vipmod();value=value.replace(/[^0-9]/g,'')"/>&nbsp;&nbsp;&nbsp;&nbsp;<span id="year">月</span>
                            <input name="mod" id="mod" type="hidden" value="1" />
                            </td>
                         </tr>
                         <tr>
                            <td>应付金额：</td>
                            <td><span class="approve_with">{$systems.sys_vipm}</span>&nbsp;&nbsp;&nbsp;&nbsp;元</td>
                         </tr>
                        
                    </tbody>
                </table>
               
                 <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
                 <elseif condition="$vip_points eq 1"/>
                 <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <p>VIP申请已提交，审核时间为1-3个工作日，请耐心等待。</p>
                </div>
                 <elseif condition="$vip_points eq 3"/>
                 <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <p>VIP申请失败，请重新申请</p>
                 </div>
                    <table class="table">
                    <tbody>
                         <tr>
                            <td>付费模式：</td>
                            <td class="approve_vip">
                            	<a id="vip_1" class="hove" href="#" onclick="vipmod(1)">按月付费</a>
                                <a id="vip_2" href="#" onclick="vipmod(2)">按年付费</a>
                            </td>
                         </tr>
                         <tr>
                            <td>开通时长：</td>
                            <td>
                            <input type="text" name="length" id="length" class="span1" value="1" onkeyup="vipmod();value=value.replace(/[^0-9]/g,'')"/>&nbsp;&nbsp;&nbsp;&nbsp;<span id="year">月</span>
                            <input name="mod" id="mod" type="hidden" value="1" />
                            </td>
                         </tr>
                         <tr>
                            <td>应付金额：</td>
                            <td><span class="approve_with">{$systems.sys_vipm}</span>&nbsp;&nbsp;&nbsp;&nbsp;元</td>
                         </tr>
                        
                    </tbody>
                </table>
               
                 <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
                <elseif condition="$vip_points eq 4"/>
                 <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <p>VIP已过期，请重新申请</p>
                 </div>
                    <table class="table">
                    <tbody>
                         <tr>
                            <td>付费模式：</td>
                            <td class="approve_vip">
                            	<a id="vip_1" class="hove" href="#" onclick="vipmod(1)">按月付费</a>
                                <a id="vip_2" href="#" onclick="vipmod(2)">按年付费</a>
                            </td>
                         </tr>
                         <tr>
                            <td>开通时长：</td>
                            <td>
                            <input type="text" name="length" id="length" class="span1" value="1" onkeyup="vipmod();value=value.replace(/[^0-9]/g,'')"/>&nbsp;&nbsp;&nbsp;&nbsp;<span id="year">月</span>
                            <input name="mod" id="mod" type="hidden" value="1" />
                            </td>
                         </tr>
                         <tr>
                            <td>应付金额：</td>
                            <td><span class="approve_with">{$systems.sys_vipm}</span>&nbsp;&nbsp;&nbsp;&nbsp;元</td>
                         </tr>
                        
                    </tbody>
                </table>
               
                 <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
                <else />
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <p>你已经是VIP会员</p>
                </div>
                </if>
            <!--VIP end-->
            </case>
            <default />空
        </switch>
     </form>
</volist>
    </div>
    <!-- right end--> 
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />