<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop">
<!-- left start-->
<include file="left" />
<!-- left end-->
    <!-- right start-->
    <div id="content" class="center_right span10">
      	<switch name="mid" >
            <case value="personal_data">
            <!--个人资料 start-->
                <ul class="breadcrumb">
                    <li>
                    <a href="#">基本设置</a> <span class="divider">/</span>
                    </li>
                    <li class="active">个人资料</li>
                </ul>
			 <form method="post"  action='__URL__/upda'>
             	<input name="q" type="hidden" value="ufo" />
                <input name="u" type="hidden" value="__ROOT__/Center/basic/personal_data.html" />
                <input name="g" type="hidden" value="uid" />
                <input name="sid" type="hidden" value="{$Think.session.user_uid}" />
<volist name="userinfo" id="v">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>所在地址：</td>
                            <td  class="form-inline" id="area">
                            	<if condition="$v.location eq ''">
                                	省份 <select id="province"  name="location[]" style="width:100px;"></select> 城市 <select id="city" style="width:110px;"  name="location[]"></select>	区/县 <select id="county"  style="width:140px;" name="location[]"></select>
                                <else/>
                                	<span id="show">{$v.location}&nbsp;&nbsp;<a href="#" onclick="$('#show').toggle();$('#location').toggle();$('#province').attr({ name: 'location[]'});$('#city').attr({ name: 'location[]'});$('#county').attr({ name: 'location[]'});">更换</a></span>
									<span id="location" style="display: none;">省份 <select id="province"   style="width:100px;"></select> 城市 <select id="city" style="width:110px;"  ></select>	区/县 <select id="county"  style="width:140px;"></select></span>
                                </if>
                            </td>
                         </tr>
                         <tr>
                            <td>婚姻状况：</td>
                            <td class="form-inline">
                            	<label class="radio"><input type="radio" name="marriage" value="0" <eq name="v.marriage" value="0">checked</eq>/> 保密</label>
                                <label class="radio"><input type="radio" name="marriage" value="1" <eq name="v.marriage" value="1">checked</eq>/> 未婚</label>
                                <label class="radio"><input type="radio" name="marriage" value="1" <eq name="v.marriage" value="2">checked</eq>/> 已婚</label>
                            </td>
                         </tr>
                         <tr>
                            <td>学历：</td>
                            <td>
                            	<select name="education" style="width:100px;">  
                                		<option value='0' >保密</option> 
                                		<volist name="education" id="vo">
                                        		<if condition="$vo.value eq $v.education ">
                                                <option value='{$vo.value}' selected>{$vo.name}</option>
                                                <else />
                                                <option value='{$vo.value}' >{$vo.name}</option>
                                                </if>
                                        </volist>
                                </select>
                            </td>
                         </tr>
                         <tr>
                            <td>月收入：</td>
                            <td>
                            	<select name="monthly_income" style="width:140px;">   
                                        <option value='0' >保密</option>
                                        <volist name="monthly_income" id="vo">
                                        		<if condition="$vo.value eq $v.monthly_income ">
                                                <option value='{$vo.value}' selected>{$vo.name}</option>
                                                <else />
                                                <option value='{$vo.value}' >{$vo.name}</option>
                                                </if>
                                        </volist>
                                </select>
                            </td>
                         </tr>
                         <tr>
                            <td>住房条件：</td>
                            <td>
                            	<select name="housing" style="width:120px;">   
                                        <option value='0' >保密</option>
                                        <volist name="housing" id="vo">
                                        		<if condition="$vo.value eq $v.housing ">
                                                <option value='{$vo.value}' selected>{$vo.name}</option>
                                                <else />
                                                <option value='{$vo.value}' >{$vo.name}</option>
                                                </if>
                                        </volist>
                                </select>
                            </td>
                         </tr>
                         <tr>
                            <td>购车情况：</td>
                            <td>
                            	<select name="buy_cars" style="width:120px;">   
                                        <option value='0' >保密</option>
                                        <volist name="buy_cars" id="vo">
                                        		<if condition="$vo.value eq $v.buy_cars ">
                                                <option value='{$vo.value}' selected>{$vo.name}</option>
                                                <else />
                                                <option value='{$vo.value}' >{$vo.name}</option>
                                                </if>
                                        </volist>
                                </select>
                            </td>
                         </tr>
                         <tr>
                            <td>QQ：</td>
                            <td><input name="qq" type="text" class="span2" value="{$v.qq}"/></td>
                         </tr>
                         <tr>
                            <td>固定电话：</td>
                            <td><input name="fixed_line" type="text" class="span2" value="{$v.fixed_line}"/></td>
                         </tr>
                         <tr>
                            <td>当前所在行业：</td>
                            <td>
                            	<select name="industry" style="width:120px;">   
                                        <option value='0' >保密</option>
                                        <volist name="industry" id="vo">
                                        		<if condition="$vo.value eq $v.industry ">
                                                <option value='{$vo.value}' selected>{$vo.name}</option>
                                                <else />
                                                <option value='{$vo.value}' >{$vo.name}</option>
                                                </if>
                                        </volist>
                                </select>
                            </td>
                         </tr>
                         <tr>
                            <td>公司：</td>
                            <td><input name="company" type="text" value="{$v.company}"/></td>
                         </tr>
                    </tbody>
                </table>
</volist>
                 <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
            <!--个人资料 end-->
            </case>
            <case value="mail">
            <!--站内信 start-->
                <ul class="breadcrumb">
                    <li>
                    <a href="#">基本设置</a> <span class="divider">/</span>
                    </li>
                    <li class="active">站内信</li>
                </ul>
                <div class="basic_mail">
                 <a data-rel="tooltip" title="未读" class="well span2" href="__ROOT__/Center/basic/mail.html?pid=unread" >
                    <span class="title">未读</span>
					<span class="top label label-important">{$msgCount.unread}</span>
				</a>
                <a data-rel="tooltip" title="已读" class="well span2" href="__ROOT__/Center/basic/mail.html?pid=read">
					<span class="title">已读</span>
					<span class="top label label-warning">{$msgCount.read}</span>
				</a>
				<a data-rel="tooltip" title="收件箱" class="well span2" href="__ROOT__/Center/basic/mail.html?pid=inbox">
					<span class="title">收件箱</span>
					<span class="top label label-success">{$msgCount.inbox}</span>
				</a>
                </div>
                 <div  id="basic_content">
               
                <neq name="Think.get.pid" value="">
                    <table class="table table-striped datatable ">
                        <thead>
                          <tr>  
                            <th>标题</th>
                            <th>发件者</th>
                            <th>时间</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        <tbody>
                        <volist name="msgInfo" id="vo">
                            <tr>	
                              <td>
                              	<if condition="$vo.rd eq 0">
                                <i class="icon icon-color icon-envelope-closed" data-rel="tooltip" title="未读"></i>
                                <else />
                                <i class="icon icon-color icon-mail-open" data-rel="tooltip" title="已读"></i>
                                </if>
                                <a href="#" onclick=" var id={$vo.id}; msgcont(id);">{$vo.title}</a>
                              </td>
                              <td>{$vo.hostname}</td>
                              <td>{$vo.addline|date="Y-m-d H:i:s",###}</td>
                              <td>
                              	 <a  href="#"  class="icon icon-color icon-search" title="查看" onclick=" var id={$vo.id}; msgcont(id);"></a>
                    				<a href="#" data-rel="tooltip" class="icon icon-color icon-trash" title="删除" onclick="if(confirm('是否要删除？'))window.location.href='__URL__/stationexit/{$vo.id}'"></a>
                              </td>  
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    
                </neq>
                </div>
                </div>
            <!--站内信 end-->
            </case>
            <case value="remind">
            <!--提醒设置 start-->
                <ul class="breadcrumb">
                    <li>
                    <a href="#">基本设置</a> <span class="divider">/</span>
                    </li>
                    <li class="active">提醒设置</li>
                </ul>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>请勾选您想要获取的提醒或资讯，不勾选的将不会进行发送 </p>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>资金变更提醒：</td>
                            <td class="controls">
								  <label class="checkbox inline">
									<input type="checkbox" name="money_change" value="1"> 站内信
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="money_change" value="2"> 邮箱
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="money_change" value="3"> 短信
								  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>借款标变更提醒：</td>
                            <td class="controls">
								  <label class="checkbox inline">
									<input type="checkbox" name="change" value="1"> 站内信
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="change" value="2"> 邮箱
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="change" value="3"> 短信
								  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>逾期提醒：</td>
                            <td class="controls">
								  <label class="checkbox inline">
									<input type="checkbox" name="overdue" value="1"> 站内信
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="overdue" value="2"> 邮箱
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="overdue" value="3"> 短信
								  </label>
                            </td>
                        </tr>
                        <tr>
                            <td>秒标发布提醒：</td>
                            <td class="controls">
								  <label class="checkbox inline">
									<input type="checkbox" name="second_label" value="1"> 站内信
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="second_label" value="2"> 邮箱
								  </label>
								  <label class="checkbox inline">
									<input type="checkbox" name="second_label" value="3"> 短信
								  </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="span10">
                  <button class="btn btn-primary" type="submit">
                      确认提交
                  </button>
                </div>
            <!--提醒设置 end-->
            </case>
            <case value="friends">
            <!--邀请好友 start-->
                <ul class="breadcrumb">
                    <li>
                    <a href="#">下线管理</a> <span class="divider">/</span>
                    </li>
                    <li class="active">邀请好友</li>
                </ul>
                <div class="alert alert-info">
            		<a class="close" data-dismiss="alert">×</a>
                    <p>复制地址通过论坛、QQ发送给要邀请的好友，好友通过链接注册成功后自己划分为您的下线，在平台获得积分，您可以获得相应的积分奖励</p>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>推广链接：</td>
                            <td class="controls">
								  <input type="text" value="{$lsuid}" class="span5"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!--邀请好友 end-->
            </case>
            <default />空
        	</form>
        </switch>
    </div>
    <!-- right end--> 

<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />