<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop">
<!-- left start-->
<include file="left" />
<!-- left end-->
    <!-- right start-->
    <div id="content" class="center_right span10">
          <ul class="breadcrumb">
              <li>
                  <a href="/">首页</a> <span class="divider">/</span>
              </li>
              <li class="active">提成小组管理</li>

              <if condition="intval($mylist['level']) lt 5 ">
              <div  class="pull-right"> <a data-toggle="modal" data-rel="tooltip" href="#aDdit" >添加分组</a></div>
              <else />
                            <input type="button" id='xq_Spread' name='xq_Spread' class=" pull-right  btn " 
               data-clipboard-text="{$_SERVER['HTTP_HOST']}{:U('Home/Logo/register',array('uid'=>$_SESSION['user_uid'],'gid'=>$group['id']))}"  value="推广" />
              </if>

          </ul>
<table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>小组ID</th>
                <th>小组名称</th>
                <th>小组级别</th>
                <th>状态</th>
                <th>提成比例</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
			 <volist name="group" id="vo">
              <tr title="{$vo.id}">
                <td>{$vo.id}</td>
                <td>
                <a href="__ROOT__/Center/editGroup/id/{$vo.id}.html">
                 <if condition="$vo['level'] eq 1 ">
                       <span class="cla{$vo.level}">{$vo.name}
                  
                   <elseif condition="$vo['level'] eq 2 " />
                    <span class="cla{$vo.level}">├ {$vo.name}
                    <elseif condition="$vo['level'] eq 3 " /> 
                    <span class="cla{$vo.level}">│├ {$vo.name}
                    <elseif condition="$vo['level'] eq 4 " /> 
                    <span class="cla{$vo.level}">││├ {$vo.name}
                    <elseif condition="$vo['level'] eq 5 " /> 
                   <span class="cla{$vo.level}"> │││├ {$vo.name}
                    <else />
                    <span class="cla">│--├ {$vo.name}
                    </if>
                  </span>
                </a>
                </td>
                <td>
                 
                  {$vo.level}级

                </td>
                <td>
                <if condition="intval($vo['status']) eq 1">
                启用
                <else />
                禁用
                </if>
                </td>
                <td>{$vo.bonus|bfb=###}</td>
                <td>
                   <a href="__ROOT__/Center/viewUser/id/{$vo.id}.html"  class="ajax-link icon icon-color icon-search" title="查看成员"></a>
  
                   <a   href="__ROOT__/Center/editGroup/id/{$vo.id}.html" class=" icon icon-color icon-edit" title="编辑分组"></a>
                   <a href="__ROOT__/Center/setRatio/id/{$vo.id}.html"  class=" icon icon-color  icon-key" title="修改分配比例"></a>
                   <a href="__ROOT__/Center/delGroup/id/{$vo.id}.html"  class=" icon icon-color icon-remove" title="删除分组 "></a>
                   
                   
                </td>
              </tr>
            </volist>
            </tbody>
           
          </table>          

      
    </div>
    
    <!--添加分组开始-->
    <div id="aDdit" class="modal hide fade" style="width:900px;left:35%">
    
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>添加下线分组</h3>
      </div>
      <div class="modal-body">
                     <form method="post"  action='__URL__/add'>
               <input name="user_id" type="hidden" value="{$user_id}" />
              <input name="catpid" id="catpid" type="hidden" value="{$mylist['abscatpid']}" />
               <input name="level" id="level" type="hidden" value="{$mylist['uplevel']}" />
               <input name="q" id="q" type="hidden" value="cm" />
               <table class="table">
                   <tbody>
                    <tr>
                      <td>
                             名称：
                      </td>
                      <td>
                           <input name="name" type="text" class="span5" placeholder="请输入关键字...">

                      </td>
                    </tr>  
                    <tr>
                      <td>
                             提成比例：
                      </td>
                      <td>
                            <input name="bonus" id="bonus" type="text" class="span3" value="">
                           <span class="input-xlarge uneditable-input" id="cbass" name="cbass" title="">可分配比例
                           <em id="getcbass" name="getcbass" style="color:#093;">0</em>%
                           </span>
                      </td>
                    </tr>                    
                   
                    <tr>
                      <td>
                             上级分组：
                      </td>
                      <td>

                                <select name="pid" id="pid" title='syspid'>
                                    <option value="{$mylist['id']}" title="{$list.absPath}" level="{$list.level}" bonus="">{$mylist['name']}</option>
                                    <volist name="group" id="vo">
                                    <if condition="$vo['if_downNode'] eq 1 ">
                                       <option value="{$vo['id']}" title="{$vo.absPath}" level="{$vo.level}" bonus="">{$vo['name']}</option>
                                     </if>
                                    </volist>
                                </select>                                          
                              

                      </td>
                    </tr>
                    <tr>
                      <td>
                             状态：
                      </td>
                      <td>
                               <label class="radio"><input type="radio" name="status" value="0" /> 禁用</label>
                               <label class="radio"><input type="radio" name="status" value="1" checked/> 启用</label>
                      </td>
                    </tr>                    
                     <tr>
                      <td>
                             是否允许有继续添加下级分组：
                      </td>
                      <td>
                               <label class="radio"><input type="radio" name="if_downNode" value="0" /> 否</label>
                               <label class="radio"><input type="radio" name="if_downNode" value="1" checked/> 是</label>
                      </td>
                    </tr>                     
                                       
                    
                                      
                    </tbody>
                    </table>
                   <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">关闭</a>
                    <button type="submit" class="btn btn-primary" >确认添加</button>
                 </div>
              </form>
      </div>
      
    </div>
    
    <!--添加分组 结束-->  
    
    
 
    
    
       
    
    <!-- right end--> 

<!-- container end -->
<!--底部  start-->

<script>



function changeVerify(){
    var timenow = new Date().getTime();
    document.getElementById('verifyImg').src='__APP__/Public/verify/'+timenow;
}
</script>
<include file="Index:footer" />
<script>
$(function(){

		var bonus  =  $("#pid option:eq(0)").attr("bonus");
		if(bonus == null || bonus ==""){
			var data = {};
			data['pid'] = $("#pid option:eq(0)").val();
			var cbass = getCbass(data);
			  $("#getcbass").empty();
		      $("#getcbass").html(parseFloat(cbass) * 100); 
			  $("#pid option:eq(0)").attr("bonus",cbass);
			  $("#cbass").attr("title",cbass);
		}
	//选择上级分组
	 $("#pid[title='syspid']").find("option").click(function(){
		 var le = parseInt($(this).attr("level"));
		$("#level").attr("value",le+1);
		var catpid = $(this).attr("title");
		$("#catpid").attr("value",catpid);
		var bonus  =  $(this).attr("bonus");
		if(bonus == null || bonus ==""){
			var data = {};
			data['pid'] = $(this).val();
			var cbass = getCbass(data);
			  $("#getcbass").empty();
		      $("#getcbass").html(parseFloat(cbass) * 100); 
			  $(this).attr("bonus",cbass);	
			  $("#cbass").attr("title",cbass);
			  		
		}else{
			  $("#getcbass").empty();
		      $("#getcbass").html(parseFloat(bonus) * 100); 
		}
	 });		
		
		
		
		
			 //分配比例查检
	 $("#bonus").change(function(){
		 var bonus = parseFloat($("#cbass").attr("title"));
		 var value = parseFloat($(this).val());
		 if(value == bonus){
			 alert("如果全部分配，该组的下级分组将无法再分配，你确定要这么做吗?");
		 }else if(value > bonus){
			 alert("不够分了?");
		 }
	 })
	 
   //推广
	var xq_Spread = $("#xq_Spread").length;
	if(xq_Spread){
		var clip = new ZeroClipboard( $("#xq_Spread"), {
		  moviePath: "__PUBLIC__/jquery/plug/zclip/ZeroClipboard.swf"
		} );
		
		clip.on( 'load', function(client) {
		  // alert( "movie is loaded" );
		} );
		clip.on( 'complete', function(client, args) {
		 // this.style.display = 'none'; // "this" is the element that was clicked
		  
		  alert("已复制请按ctrl+v或鼠标右键选择粘: " );
		} );	
	}
	
});

function  getCbass(data){
       var temp = 0;
       var url = "{:U('Api/Ajax/getCbass')}";//获取可分配提成比例
		  $.ajax({			
			  type:"POST",
			  dataType: 'json',
			  data:data,
			  cache:false,
			  async:false,
			  url:url,
			  success: function(dat){
				 if(dat.cbass){
					 temp = dat.cbass
				 }
					

			  }
		 });
		 return temp;
}
</script>