<!-- left start-->
    <div class="center_left span2">
    	<dl>
        	<dt>我是投资者</dt>
            <dd><a href="__ROOT__/Loan.html">我要投资</a></dd>
            <!--<dd><a href="__ROOT__/Center/invest/win.html" >已成功投资的借款</a></dd>-->
            <dd><a href="__ROOT__/Center/invest/isclosed.html" >正在收款的借款</a></dd>
            <dd><a href="__ROOT__/Center/invest/isflow.html" >正在收款的流转标</a></dd>
            <dd><a href="__ROOT__/Center/invest/overdue.html" >逾期的借款</a></dd>
            <!--<dd><a href="__ROOT__/Center/invest/assure.html" >我担保的借款</a></dd>-->
            <dd><a href="__ROOT__/Center/invest/isbid.html" >我投标的借款</a></dd>
            <dd><a href="__ROOT__/Center/invest/isbids.html" >我认购的借款</a></dd>
            <!--<dd><a href="__ROOT__/Center/invest/automaticlist.html" >自动投标列表</a></dd>
            <dd><a href="__ROOT__/Center/invest/automatic.html" >自动投标设置</a></dd>-->
        </dl>
        <dl>
        	<dt>我是借款者</dt>
            <dd><a href="__ROOT__/Borrow/welfare.html">我要借款</a></dd>
            <dd><a href="__ROOT__/Center/loan/issue.html" >发布的借款</a></dd>
            <dd><a href="__ROOT__/Center/loan/overdue.html" >逾期的借款</a></dd>
            <dd><a href="__ROOT__/Center/loan/is.html" >正在还款的借款</a></dd>
            <dd><a href="__ROOT__/Center/loan/isflow.html" >正在流转的借款</a></dd>
        </dl>
        <dl>
        	<dt>资金管理</dt>
            <dd><a href="__ROOT__/Center/fund/bank.html" >银行账户</a></dd>
            <dd><a href="__ROOT__/Center/fund/draw.html" >账户提现</a></dd>
            <dd><a href="__ROOT__/Center/fund/inject.html" >账户充值</a></dd>
            <dd><a href="__ROOT__/Center/fund/drawrecord.html" >提现记录</a></dd>
            <dd><a href="__ROOT__/Center/fund/injectrecord.html" >充值记录</a></dd>
            <dd><a href="__ROOT__/Center/fund/fundrecord.html" >资金记录</a></dd>
            <!--<dd><a href="__ROOT__/Center/fund/assured.html" >额度申请</a></dd>-->
        </dl>
        <dl>
        	<dt>认证中心</dt>
            <dd><a href="__ROOT__/Center/approve/autonym.html" >实名认证</a></dd>
            <dd><a href="__ROOT__/Center/approve/email.html" >邮箱认证</a></dd>
            <dd><a href="__ROOT__/Center/approve/cellphone.html" >手机认证</a></dd>
            <dd><a href="__ROOT__/Center/approve/video.html" >视频认证</a></dd>
            <dd><a href="__ROOT__/Center/approve/scene.html" >现场认证</a></dd>
           <!-- <dd><a href="__URL__/approve/Wechat" >微信认证</a></dd>-->
            <dd><a href="__ROOT__/Center/approve/vip.html" >VIP</a></dd>
        </dl>
        <dl>
        	<dt>基本设置</dt>
            <dd><a href="__ROOT__/Center/basic/personal_data.html" >填写个人资料</a></dd>
            <dd><a href="__ROOT__/Center/basic/mail.html" >站内信</a></dd>
           <!-- <dd><a href="__ROOT__/Center/basic/remind.html" >提醒设置</a></dd>-->
        </dl>
        <dl>
        	<dt>下线管理</dt>
           <!-- <dd><a href="__ROOT__/Center/Commision/id/{$Think.session.user_uid}.html" >查看下线分组</a></dd>-->
            <dd><a href="__ROOT__/Center/basic/friends.html" >邀请好友</a></dd>
            <!--<dd><a href="#">查看业绩</a></dd>-->
        </dl>     
        <dl>
        	<dt>安全中心</dt>
            <dd><a href="__ROOT__/Center/security/password.html" >修改登陆密码</a></dd>
            <dd><a href="__ROOT__/Center/security/tpassword.html" >修改交易密码</a></dd>
        </dl>
    </div>
<!-- left end-->