<div class="sub-nav" sup="Project">
    <div class="sub-nav-inner">
        <div class="container">
            <!--Navigation start-->
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li <eq name="Think.const.ACTION_NAME" value="index"> class="active"</eq>><a href="__ROOT__/Center.html">总览</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="invest"> class="active"</eq>><a href="__ROOT__/Center/invest/mid/isclosed.html">投资者</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="loan"> class="active"</eq>><a href="__ROOT__/Center/loan/issue.html">借款者</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="fund"> class="active"</eq>><a href="__ROOT__/Center/fund/mid/fundrecord.html">资金明细</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="approve"> class="active"</eq>><a href="__ROOT__/Center/approve/autonym.html">认证中心</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="security"> class="active"</eq>><a href="__ROOT__/Center/security/password.html">安全中心</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="mails"> class="active"</eq>><a href="__ROOT__/Center/mails.html">站内信</a></li>
                        <li <eq name="Think.const.ACTION_NAME" value="basic"> class="active"</eq>><a href="__ROOT__/Center/basic/personal_data.html">设置</a></li>
                    </ul>
                </div>
            </div>
            <!--Navigation end-->
        </div>
    </div>
</div>