<include file="Index:header" />
<script type="text/javascript" src="__PUBLIC__/jquery/plug/zclip/ZeroClipboard.js"></script>
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop">
<!-- left start-->
<style type="text/css">
.cla1{ font-weight:600; font-size:14px;}
.cla2{ font-weight:500; font-size:12px; margin-left:5px;}
.cla3{ font-weight:500; font-size:10px; margin-left:10px;}

</style>
<include file="left" />
<!-- left end-->
    <!-- right start-->
    <div id="content" class="center_right span10">
          <ul class="breadcrumb">
              <li>
                  <a href="/">个人中心</a> <span class="divider">/</span>
              </li>
              <li class="active">提成小组管理</li>
              <input type="button" id='xq_Spread' name='xq_Spread' class=" pull-right  btn " 
               data-clipboard-text="{$_SERVER['HTTP_HOST']}{:U('Home/Logo/register',array('uid'=>$_SESSION['user_uid'],'gid'=>$group['id']))}"  value="推广" />
          </ul>
 <div id="viewGroupUser">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>用户名</th>
                <th>用户ID</th>
                <th>email</th>
                <th>注册时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
			 <volist name="list" id="vo">
              <tr>
                <td>{$vo.username}</td>
                <td>{$vo.id}</td>
                <td>
                   {$vo.email} 
                </td>
                <td>{$vo.time|date="y-m-d",###}</td>
                <td>
                 <td>
                  <a href="###">详细信息</a>
                                      <a href="#" data-rel="tooltip" class="icon icon-color icon-trash"title="删除" 
                    onclick="if(confirm('是否要删除？'))window.location.href='__URL__/delGroupUser/uid/{$vo.id}'"></a>
               
                </td>
              </tr>
            </volist>
            </tbody>
           
          </table>          
          </div>

      
    </div>
    

    <!-- right end--> 

<!-- container end -->
<!--底部  start-->


<include file="Index:footer" />
<script>
$(function(){
	
var clip = new ZeroClipboard( $("#xq_Spread"), {
	  moviePath: "__PUBLIC__/jquery/plug/zclip/ZeroClipboard.swf"
	} );
	
	clip.on( 'load', function(client) {
	  // alert( "movie is loaded" );
	} );
	clip.on( 'complete', function(client, args) {
	 // this.style.display = 'none'; // "this" is the element that was clicked
	  
	  alert("已复制请按ctrl+v或鼠标右键选择粘: " );
	} );			
});
</script>