<!-- left start-->
<div class="sub-nav" sup="Project">
    <div class="sub-nav-inner">
        <div class="container">
            <!--start: Navigation -->
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav">
                        <volist name="site" id="vo">
                        <if condition="$vo.type eq 2 ">
                        <li><a href="__ROOT__/Site/listTpl/id/{$vo.id}.html">{$vo.title}</a></li>
                        <else/>
                        <li><a href="__ROOT__/Site/page/id/{$vo.id}.html">{$vo.title}</a></li>
                        </if>
                        </volist>
                    </ul>
                </div>
            </div>
            <!--end: Navigation -->
        </div>
    </div>
</div>
<!-- left end-->